<article ng-controller="BookingPageController" class="formpage">
    <div class="ui middle aligned aligned grid forms bookingpage">

        <div class="booking_one">
            <div class="column formcolumn_b">
                <div class="owner_p">
                    <div class="lndg_fullname" >WELCOME, <span class="" ng-bind="fullname">Chijioke Ugwuanyi</span></div>
                    <div class="lndg_ct_number" >CARD NUMBER: <span class="l_val_cn" ng-bind="ct_cardnumber" style="font-weight: bolder;"></span></div>
                </div>
                <div class="row"><div class="column">&nbsp;</div></div>
                <div class="row"><div class="column">&nbsp;</div></div>

                <div class="bal">
                    <div class="a_bal" style="font-size: 15pt; line-height: 2;">Available Card Balance: 25000</div>
                    <div class="tot_dep" style="font-size: 15pt;">Estimated Trip Balance: 50000</div>
                    <button class="massive ui button" id="btn_b" ui-sref="payment">
                        Fund your card
                    </button>
                </div>
                <div class="row"><div class="column">&nbsp;</div></div>

                <div class="col_form">
                    <h2 class="ui image header" style="text-align: center; width: 100%; margin-top: 24px;">
                    <div class="content">
                        Book a trip
                    </div>
                </h2>
                <form class="ui large form" novalidate name="bookingform">
                    <div class="ui stacked secondary  segment removestyle">

                        <div class="field sel_field">
                            <label></label>
                            <select class="ui search dropdown" name="trip_route" id="trip_route" ng-model="trip_route">
                                <option disabled value="">Select route</option>
                                <option value="Ikeja - Victoria Island">Ikeja – Victoria Island</option>
                                <option value="Yaba - Victoria Island">Yaba – Victoria Island</option>
                            </select>
                            <span class="ast">*</span>
                        </div>

                        <div class="field sel_field">
                            <select class="ui search dropdown" name="booking_type" id="booking_type" ng-model="booking_type">
                                <option disabled value="">Select booking type</option>
                                <option value="Morning Only">Morning Only</option>
                                <option value="Evening Only">Evening Only</option>
                                <option value="Return">Return</option>
                            </select>
                            <span class="ast">*</span>
                        </div>

                        <div class="field sel_field">
                            <select class="ui search dropdown" name="trip_frequency" id="trip_frequency" ng-model="trip_frequency" ng-change="booking_validity()">
                                <option disabled value="">Booking Validity</option>
                                <option value="1 Day">1 Day</option>
                                <option value="5 Days">5 Days</option>
                                <option value="10 Days">10 Days</option>
                                <option value="1 Month">1 Month</option>
                            </select>
                            <span class="ast">*</span>
                        </div>

                        <div class="ui fluid icon input" data-tooltip="Find it in your sign up confirmation email if you don't have the card yet." data-position="top left">
                            <input type="text" placeholder="Enter Corporate Transit Card number." id="ct_cardnumber" ng-model="ct_cardnumber">
                            <span class="ast">*</span>
                        </div>

                        <div class="range">
                            <h3 class="mod" style="display: none;">Range</h3>
                            <div class="ui form">
                                <div class="two fields">

                                    <div class="field date1" style="display: none;">
                                        <div>
                                            <label class="mod mod_one">From</label>
                                            <input type="Text" id="demo1" name="date_from" ng-model="date_from"/>
                                            <img class="date_img1" src="../../assets/img/date/cal.gif" onclick="javascript:NewCssCal('demo1', 'ddMMyyyy')" style="cursor:pointer"/>
                                            <span class="ast">*</span>
                                        </div>
                                    </div>

                                    <div class="field date2" style="display: none;">
                                        <div>
                                            <label class="mod mod_two">To</label>
                                            <input type="Text" id="demo2" name="date_to" ng-model="date_to"/>
                                            <img class="date_img2" src="../../assets/img/date/cal.gif" onclick="javascript:NewCssCal('demo2', 'ddMMyyyy')" style="cursor:pointer"/>
                                            <span class="ast">*</span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="ui fluid large teal submit button booktrip" ng-click="bookTrip()">Book Trip</div>
                        <div class="bookingloader"></div>

                        <div class="mod" style="margin-top: 20px;">
                            Please Note: All cancellations and modifications must be done 2 hours before scheduled trip time. Modifications are not guaranteed and are based on availability. Cancellations done after 2 hours would be charged cancellation fees.
                        </div>
                    </div>
                </form>
                </div>
            </div>
        </div>

        <div class="booking_two">
            <div class="enj">
                <div class="enj_big">
                    ENJOY
                </div>

                <div class="enj_mid">
                    1 FREE
                </div>

                <div class="enj_lst">
                    RIDE
                </div>

                <div class="enj_aft">
                    AFTER EVERY 10 RIDE.
                </div>

                <div class="enj_val">
                    VALID TILL MAY.
                </div>
            </div>
        </div>
    </div>
</article>