
<article ng-controller="BookingHistoryController" class="bookinghistorypage">

    <div class="ui active dimmer">
        <div class="ui loader"></div>
    </div>

    <div class="generalloader"></div>

    <div class="b_layers">

        <div class="layerone">
            <div class="layerone_btn pymt_btn">
                <a class="">Bookings</a>
            </div>

            <div class="layerone_btn cnts_btn">
                <a class="" ng-click="showContactUs()">Contact Us</a>
                <a class="new_a" ng-click="showBookTrip()">New</a>
            </div>
        </div>

        <div class="sortselect for_mobile" style="display: none;">
            <label for="sort">
                <select id="sort" name="sort" class="pretty">
                    <option value="default" title="Sort by" selected disabled>Sort By</option>
                    <option value="3">Last 3 Days</option>
                    <option value="30">Last Month</option>
                    <option value="90">Last 3 Months</option>
                </select>
            </label>
        </div>

        <div class="layertwo">
            <div class="layertwo_half_one">
                <div class="layertwo_first_btn">
                    <a class="" ng-click="loadHistory('3')">Last 3 Days</a>
                </div>

                <div class="layertwo_first_btn">
                    <a class="" ng-click="loadHistory('30')">Last Month</a>
                </div>

                <div class="layertwo_first_btn">
                    <a class="" ng-click="loadHistory('90')">Last 3 Months</a>
                </div>
            </div>

            <div class="demarcator">
            </div>

            <div class="layertwo_half_two">
                <div class="layertwo_half_btn">
                    <input type="Text" id="tr_from" name="tr_from" ng-model="tr_from" onclick="javascript:NewCssCal('tr_from', 'ddMMyyyy')" placeholder="From" />
                </div>

                <div class="layertwo_half_btn">
                    <input type="Text" id="tr_to" name="tr_to" ng-model="tr_to" onclick="javascript:NewCssCal('tr_to', 'ddMMyyyy')" placeholder="To" />
                </div>

                <div class="layertwo_btn_last">
                    <a class="" ng-click="searchHistory('3')">Search</a>
                </div>
            </div>
        </div>
    </div>

    <div class="hist">
        <div class="history first">
            <div class="booking_history_left">
                <div class="booking_from">
                    <span>From </span>
                </div>

                <div class="booking_to">
                    <span>To</span>
                </div>

                <div class="arrows_h">
                    Trip Type
                </div>

                <div class="booking_date">
                    <span>Date</span>
                </div>

                <div class="booking_time">
                    <span>Time</span>
                </div>

                <div class="booking_amount ba_h">
                    <span>Cost</span>
                </div>

                <div class="booking_cirle booking_cirle_h">
                    <span>Status</span>
                </div>
            </div>

            <div class="booking_history_right">

                <div class="booking_option">
                    <span>Modify Booking?</span>
                </div>
            </div>
        </div>

        <div class="history first" ng-repeat="history in booking_history">
            <div class="booking_history_left">
                <div class="booking_from">
                    <span ng-bind="history.booking.routefrom.split(' - ')[1].trim()"></span>
                </div>

                <div class="booking_to">
                    <span ng-bind="history.booking.routeto.split(' - ')[1].trim()"></span>
                </div>

                <div class="arrows onlyround" ng-if="history.booking.bookingtype === 'Round Trip'">
                    <div class="bk_arrow_one">
                        <span>&#x2190;</span>
                    </div>
                </div>

                <div class="arrows" ng-if="history.booking.bookingtype === 'One Way Trip'">
                    <div class="bk_arrow_one">
                        <span>&#x2190;</span>
                    </div>

                    <div class="bk_arrow_two">
                        <span>&#x2192;</span>
                    </div>
                </div>

                <div class="booking_date">
                    <span ng-bind="history.booking.bookedon.split('T')[0]"></span>
                </div>

                <div class="booking_time">
                    <span ng-bind="history.booking.bookingtime"></span>
                </div>

                <div class="booking_amount">
                    NGN <span ng-bind="history.booking.bookingcost"></span>
                </div>

                <div ng-if="history.booking.bookingstatus === 'Concluded'" class="booking_circle">
                    <span>&#x2022;</span>
                </div>

                <div class="booking_circle bK_none" ng-if="history.booking.bookingstatus === 'Pending'">
                    <span>&#x2022;</span>
                </div>

                <div class="booking_circle bK_cancel" ng-if="history.booking.bookingstatus === 'Cancelled'">
                    <span>&#x2022;</span>
                </div>
            </div>

            <div class="booking_history_right">

                <div class="booking_option" ng-if="history.booking.bookingstatus === 'Pending'">
                    <span ng-click="modifyTrip(history.booking.bookingid, history.booking.bookingstatus)"><i class="large material-icons">arrow_drop_down</i></span>
                </div>
            </div>
        </div>
    </div>

    <div id="edit_options" class="">
        <a class="closeoptions" ng-click="closeOptions()">x</a>

        <div class="b_cat_body">

            <div class="dynamic_cat_body">
                <div>
                    <button class="nav-link a_l cancel_btn" ng-click="getChoice()" id="cancel-button">Cancel</button>
                </div>

                <!-- <div>
                    <button class="nav-link a_l" id="edit-button">Edit</button>
                </div>   -->          
            </div>
        </div>
    </div>

    <div id="edit_choice" class="">
        <a class="closechoice" ng-click="closeChoice()">x</a>

        <div class="b_cat_body">

            <div class="dynamic_cat_body">
                <div>
                    <button class="nav-link a_l cancel_btn" ng-click="modifyChoice('yes')" id="cancel-button">Yes</button>
                </div>
                <div>
                    <button class="nav-link a_l cancel_btn" ng-click="modifyChoice('no')" id="cancel-button">No</button>
                </div>         
            </div>
        </div>
    </div>

    <div class="booking_one" style="width: 100%; display: none;">
        <div class="no_bk">
            <div class="ui success message">
                <div class="header" style="color: black !important;">
                    No booking history was found.
                </div>
            </div>
        </div>
    </div>

    <div id="contactus" class="">
        <a href="#" class="closecontactus" ng-click="closecontactus()">x</a>

        <div class="user_register modalregister">
            <!-- <div class="supporttitle">Send Us A Message.</div> -->
            <div>
                <form>

                    <input type="text" name="supportemail" id="supportemail" ng-model="supportemail" placeholder="Email" style="padding-left: 15px !important;">
                    <br/>

                    <input type="text" name="supportsubject" id="supportsubject" ng-model="supportsubject" placeholder="Subject" style="padding-left: 15px !important;">
                    <br/>

                    <textarea placeholder="Message" rows="7" name="supporttext" id="supporttext" ng-model="supporttext" cols="40" class="ui-autocomplete-input" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true" style="padding-left: 15px !important;"></textarea>

                    <div class="row"><div class="column">&nbsp;</div></div>
                    <div class="row"><div class="column">&nbsp;</div></div>

                    <button class="ui fluid large teal submit button log_in_btn" ng-click="sendComplaint()" style="width: 80%;" id="sendmessage-button">Send Message</button>
                </form>
            </div>
        </div>
    </div>

    <div id="booktrip" class="">
        <a href="#" class="closebooktrip" ng-click="closeBookTrip()">x</a>

        <div class="user_register modalregister">
            <div class="row"><div class="column">&nbsp;</div></div>
                <div class="popup_title">
                    New Ride
                </div>

                <div class="row"><div class="column">&nbsp;</div></div>

            <div>
                <form>
                    <div class="radio_choice">
                        <div class="ui form">
                          <div class="inline fields choicefields">

                            <div class="field choicefield">
                                <div class="ui radio checkbox">
                                    <input type="radio" name="frequency" id="roundtrip" value="roundtrip" ng-model="roundtrip" ng-click="determineMode('roundtrip')" ng-checked="true"/>
                                    <label>Round Trip</label>
                                </div>
                            </div>

                            <div class="field choicefield-right">
                                <div class="ui radio checkbox">
                                    <input type="radio" name="frequency" id="oneride" value="oneride" ng-model="oneride" ng-click="determineMode('oneride')"/>
                                    <label>One Ride</label>
                                </div>
                            </div>
                          </div>
                        </div>
                    </div>

                    <div class="row"><div class="column">&nbsp;</div></div>

                    <div class="range">
                        <div class="ui form">
                            <div class="two fields">
                                <div class="field sel_field">
                                    <label></label>
                                    <select class="ui search dropdown" id="dep" name="dep" ng-model="dep">
                                        <option disabled value="" selected>Route From</option>
                                        <option ng-repeat="place in home">{{place}}</option>
                                    </select>
                                </div>

                                <div class="field sel_field">
                                    <label></label>
                                    <select class="ui search dropdown" id="dest" name="dest" ng-model="dest">
                                        <option disabled value="" selected>Route To</option>
                                        <option ng-repeat="place in work">{{place}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row"><div class="column">&nbsp;</div></div>

                    <div class="c_number">
                        <input type="text" name="cardnumber" id="cardnumber" ng-model="cardnumber" placeholder="Card Number" style="padding-left: 15px !important;">
                    </div>

                    <div class="row"><div class="column">&nbsp;</div></div>

                    <div class="range">
                        <div class="ui form">
                            <div class="two fields">

                                <div class="field date1">
                                    <div>
                                        <label class="mod mod_one">From</label>
                                        <input type="Text" id="demo1" name="date_from" ng-model="date_from" onclick="javascript:NewCssCal('demo1', 'ddMMyyyy')" style="cursor:pointer"/>
                                        <!-- <img class="date_img1" src="../../assets/img/date/cal.gif" /> -->
                                    </div>
                                </div>

                                <div class="field date2">
                                    <div>
                                        <label class="mod mod_two">To</label>
                                        <input type="Text" id="demo2" name="date_to" ng-model="date_to" onclick="javascript:NewCssCal('demo2', 'ddMMyyyy')" style="cursor:pointer"/>
                                        <!-- <img class="date_img2" src="../../assets/img/date/cal.gif" /> -->
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>                            

                    <div class="row"><div class="column">&nbsp;</div></div>
                    <div class="row"><div class="column">&nbsp;</div></div>

                    <button class="ui fluid large teal submit button log_in_btn" ng-click="bookTrip()" style="width: 80%;" id="bookaride-button">Book A Ride
                    </button>

                    <div class="warning">
                        Please Note: All cancellations and modifications must be done 2 hours before scheduled trip time. Modifications are not guaranteed and are based on availability. Cancellations done after 2 hours would be charged cancellation fees.
                    </div>
                    <div class="row"><div class="column">&nbsp;</div></div>
                </form>
            </div>
        </div>
    </div>

    <div id="pendingtrip" class="">
        <a href="#" class="closependingtrip" ng-click="closePendingTrip()">x</a>

        <div class="user_register modalregister">
            <input type="hidden" ng-model="id" id="id" name="id">
            <input type="hidden" ng-model="tripmode" id="tripmode" name="tripmode">

            <div>
                <div class="trip_note">
                    Your new trip date(s) falls within the time frame of a pending trip which has not been concluded or cancelled. Cancel it or book another trip outsite the time frame of this one. Find details below.
                </div>
                <div class="row"><div class="column">&nbsp;</div></div>
                <div class="row"><div class="column">&nbsp;</div></div>

                <div class="trp_det">
                    <div class="trp trp_dep">From: <span ng-bind="pendingtrip.booking.routefrom"></span></div>
                    <div class="row"><div class="column">&nbsp;</div></div>

                    <div class="trp trp_dest">To: <span ng-bind="pendingtrip.booking.routeto"></span></div>
                    <div class="row"><div class="column">&nbsp;</div></div>

                    <div class="trp trp_date">Starting date: <span ng-bind="pendingtrip.booking.from"></span></div>
                    <div class="row"><div class="column">&nbsp;</div></div>

                    <div class="trp trp_date">Ending date: <span ng-bind="pendingtrip.booking.to"></span></div>
                    <div class="row"><div class="column">&nbsp;</div></div>

                    <div class="trp trp_type">Type: <span ng-bind="pendingtrip.booking.bookingtype"></span></div>
                    <div class="row"><div class="column">&nbsp;</div></div>
                </div>
                
                <div class="row"><div class="column">&nbsp;</div></div>

                <button class="ui fluid large teal submit button log_in_btn" ng-click="cancelTrip()" style="width: 80%;" ng-disabled="canceltripclicked">Cancel this trip</button>
                
            </div>
        </div>
    </div>

    <div id="mode_period" class="">
        <a class="closemodeperiod" ng-click="closeModePeriod()">x</a>

        <div class="mode_p">
            <div class="row"><div class="column">&nbsp;</div></div>

            <div class="mode_period_body">
                <div>
                    <button class="nav-link m_button" ng-click="modifyMode('evening')" id="yes-button">Evening</a>
                </div>
                <div class="row"><div class="column">&nbsp;</div></div>

                <div>
                    <button class="nav-link m_button" ng-click="modifyMode('morning')" id="no-button">Morning</a>
                </div>            
            </div>
        </div>
    </div>
</article>

