<div class="ui middle aligned center aligned grid forms otherpages" ng-controller="EmailActivationController">
    <div class="column formcolumn" style="max-width: 100% !important;">
        <input ng-model="user"  id="user" name="user" type="hidden">

        <div>
            <div class="pagetitle">
                <div class="row"><div class="column">&nbsp;</div></div>
                <div class="row"><div class="column">&nbsp;</div></div>

                You account has been successfully verified.
            </div>
            <div class="pagetext">
                <div class="row"><div class="column">&nbsp;</div></div>
                <div class="row"><div class="column">&nbsp;</div></div>
                You can now <a ui-sref="login">Login.</a>
            </div>
        </div>

    </div>
</div>