
<div class="ui middle aligned center aligned grid forms forgotpasswordpage" ng-controller="LoginPageController">
    <nav id="navbar" class="navbar navbar-expand-lg sticky-top navother">
        <a class="img_logo img_o" ui-sref="home">
            <img src="../../assets/img/logos/ct_logo.png" class="">
        </a>
    </nav>

    <div class="generalloader"></div>

    <div class="column forgotp_column">
        <h2 class="ui image header">
            <div class="content">
                <a class="cont_img" ui-sref="home">
                    <img src="../../assets/img/logos/ctlogowhite.png" class="">
                </a>
            </div>

            <div class="forgot_p_message">
                Provide your email address to reset your password.
            </div>
        </h2>
        <form class="ui large form" novalidate name="loginform" id="loginform">

            <div class="ui stacked secondary  segment removestyle">
                <div class="field">
                    <div class="ui left icon input">
                        <!-- <i class="user icon"></i> -->
                        <input type="text" ng-model="resetemail"  id="resetemail" name="resetemail" placeholder="E-mail address" style="padding-left: 15px !important;">
                    </div>
                </div>

                <div class="row"><div class="column">&nbsp;</div></div>
                <button class="ui fluid large teal submit button log_in_btn" ng-click="verifyEmail()" ng-disabled="resetpasswordclicked">Submit</button>
            
                <div class="forgotloader"></div>
            </div>
        </form>
    </div>

    <div class="somebar_other">
        <div class="bottombar_other">
            <div class="bar">
                <div class="copyright link_other">Copyright, <span class="buzzmi">2018  Corporate Transit</span></div>
                <div class="privacy link_other">Terms And Conditions</div>
                <div class="privacy link_other">Privacy Policy</div>
                <div class="privacy link_other">Faqs</div>
                <div class="contact link_other" ui-sref="contact_us">Contact Us</div>

                <div class="facebook link_other"><i class="inverted facebook f icon"></i>Facebook</div>
                <div class="twitter link_other"><i class="inverted twitter icon"></i>Twitter</div>
                <div class="instagram link_other"><i class="inverted instagram icon"></i>Instagram</div>
            </div>
        </div>
    </div>
</div>