<link rel="stylesheet" href="../../assets/css/style.css">
<link rel="stylesheet" href="../../assets/css/dashboard.css">

<div class="ui middle aligned center aligned grid forms">

    <nav id="navbar" class="navbar navbar-expand-lg sticky-top navother">
        <a class="navbar-brand" ui-sref="home">CT</a>

        <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" ui-sref="how_it_works">How It Works</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" ui-sref="login">Book a trip</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" ui-sref="login">Payment</a>
                </li>
                <li class="nav-item active border">
                    <a class="nav-link" ui-sref="signup">Sign Up</a>
                </li>
            </ul>
        </div>-->
    </nav>

    <div class="column incr_code otherpages" style="max-width: 100% !important;">
        <div>
            <div class="pagetitle">
                <div class="row"><div class="column">&nbsp;</div></div>
                <div class="row"><div class="column">&nbsp;</div></div>

                The email activation link you entered is invalid.
            </div>
            <div class="pagetext">
                <div class="row"><div class="column">&nbsp;</div></div>
                Please check your email and try again.

                <div class="row"><div class="column">&nbsp;</div></div>
                <div class="row"><div class="column">&nbsp;</div></div>

                <div class="row"><div class="column">&nbsp;</div></div>
                <div class="row"><div class="column">&nbsp;</div></div>
            </div>
        </div>
    </div>

    <div class="somebar">
        <div class="bottombar">
            <div class="bar">
                <div class="privacy link">Terms And Conditions</div>
                <div class="privacy link">Privacy Policy</div>
                <div class="privacy link">Faqs</div>
                <div class="contact link">Contact Us</div>

                <div class="facebook link">Facebook</div>
                <div class="twitter link">Twitter</div>
                <div class="instagram link">Instagram</div>
            </div>
            <div class="copyright link">Copyright, <span class="buzzmi">2018  Corporate Transit</span></div>
        </div>
    </div>
</div>