<div class="ui middle aligned center aligned grid forms loginpage" ng-controller="LoginPageController" id="ph_page">
    <nav id="navbar" class="navbar navbar-expand-lg sticky-top navother">
        <a class="img_logo img_o" ui-sref="home">
            <img src="../../assets/img/logos/ct_logo.png" class="">
        </a>

         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto nav_o">
                <li class="nav-item active">
                    <a class="nav-link" ui-sref="signup" style="color: #4d5862 !important">Sign Up</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="column" id="login">
        <h2 class="ui image header" style="margin: 0 !important;">

            <div class="content">
                <a class="cont_img" ui-sref="home">
                    <img src="../../assets/img/logos/ctlogowhite.png" class="">
                </a>
            </div>

        </h2>
        <form class="ui large form" novalidate name="loginform" id="loginform">

            <div class="ui stacked secondary  segment removestyle">
                <div class="field">
                    <div class="ui left icon input">
                        <!-- <i class="user icon"></i> -->
                        <input type="text" ng-model="email"  id="email" name="email" placeholder="E-mail address" style="padding-left: 15px !important;">
                    </div>
                </div>

                <div class="field">
                    <div class="ui left icon input">
                        <!-- <i class="lock icon"></i> -->
                        <input type="password" ng-model="password" id="password" name="password" placeholder="Password" style="padding-left: 15px !important;"> <div class="fgt_p" ui-sref="forgotpassword"><i>forgot?</i></div>
                    </div>
                </div>

                <div class="row"><div class="column">&nbsp;</div></div>
                <div class="row"><div class="column">&nbsp;</div></div>

                <button class="ui fluid large teal submit button log_in_btn" id="login_button" ng-click="login()" ng-disabled="loginclicked">Login</button>
                <div class="generalloader"></div>
            </div>
        </form>

        <div class="row"><div class="column">&nbsp;</div></div>

        <div class="noacct">
            Don't have an account? No worries. <a ui-sref="signup">Sign Up</a>
        </div>

        <div class="noacct">
            Are you an admin? <a ui-sref="adminlogin">Login</a>
        </div>
    </div>

    <div class="somebar_other">
        <div class="bottombar_other">
            <div class="bar">
                <div class="copyright link_other">Copyright, <span class="buzzmi">2018  Corporate Transit</span></div>
                <div class="privacy link_other" ui-sref="terms">Terms And Conditions</div>
                <div class="privacy link_other">Privacy Policy</div>
                <div class="privacy link_other">Faqs</div>
                <div class="contact link_other" ui-sref="contact_us">Contact Us</div>

                <div class="facebook link_other"><i class="inverted facebook f icon"></i>Facebook</div>
                <div class="twitter link_other"><i class="inverted twitter icon"></i>Twitter</div>
                <div class="instagram link_other"><i class="inverted instagram icon"></i>Instagram</div>
            </div>
        </div>
    </div>
</div>