<div class="ui middle aligned center aligned grid forms otherpages" ng-controller="LoginPageController">
    <nav id="navbar" class="navbar navbar-expand-lg sticky-top navother">
        <a class="img_logo" ui-sref="home">
            <img src="../../assets/img/logos/ctlogowhite.png" class="">
        </a>

        <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" ui-sref="how_it_works">How It Works</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" ui-sref="routes">Routes</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" ui-sref="login">Book a trip</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" ui-sref="login">Payment</a>
                </li>
                <li class="nav-item active border">
                    <a class="nav-link" ui-sref="signup">Sign Up</a>
                </li>
            </ul>
        </div> -->
    </nav>

    <div class="column formcolumn">
        <h2 class="ui image header">
            <div class="content">
                Log-in to your account
            </div>
        </h2>
        <form class="ui large form" novalidate name="loginform" id="loginform">

            <div class="ui stacked secondary  segment removestyle">
                <div class="field">
                    <div class="ui left icon input">
                        <!-- <i class="user icon"></i> -->
                        <input type="text" ng-model="email"  id="email" name="email" placeholder="E-mail address">
                    </div>
                </div>

                <div class="field">
                    <div class="ui left icon input">
                        <!-- <i class="lock icon"></i> -->
                        <input type="password" ng-model="password" id="password" name="password" placeholder="Password">
                    </div>
                </div>

                <div class="ui fluid large teal submit button" ng-click="login()">Login</div>
                <div class="loginloader"></div>
            </div>
        </form>

        <div class="ui message">
            Don't have an account? <a ui-sref="signup">Register</a>
        </div>
        <a ui-sref="forgotpassword" class="forgotp">Forgot your password?</a>
    </div>

    <div class="somebar">
        <div class="bottombar">
            <div class="bar">
                <div class="privacy link">Terms And Conditions</div>
                <div class="privacy link">Privacy Policy</div>
                <div class="privacy link">Faqs</div>
                <div class="contact link" ui-sref="contact_us">Contact Us</div>

                <div class="facebook link">Facebook</div>
                <div class="twitter link">Twitter</div>
                <div class="instagram link">Instagram</div>
            </div>
            <div class="copyright link">Copyright, <span class="buzzmi">2018  Corporate Transit</span></div>
        </div>
    </div>
</div>