
<div class="" ng-controller="GeneralController">

    <nav id="navbar" class="navbar navbar-expand-lg sticky-top navother">
        <div class="">
            <a class="not_log" ui-sref="home">
                <img src="../../assets/img/logos/ct_logo.png" style="height: 32px;">
            </a>
        </div>
    </nav>

    <section class="notfoundpage">
        <div class="row"><div class="column">&nbsp;</div></div>
        <div class="row"><div class="column">&nbsp;</div></div>
        <div class="row"><div class="column">&nbsp;</div></div>
        <div class="row"><div class="column">&nbsp;</div></div>
        <div class="row"><div class="column">&nbsp;</div></div>
        <div class="row"><div class="column">&nbsp;</div></div>

        <div class="notfoundtext">
            <div class="pagetitle">
                <div class="row"><div class="column">&nbsp;</div></div>
                <div class="row"><div class="column">&nbsp;</div></div>

                Sorry, this page is not available.
            </div>
            <div class="pagetext">
                <div class="row"><div class="column">&nbsp;</div></div>
                <div class="row"><div class="column">&nbsp;</div></div>
                The link you followed may have been broken, or the page may have been removed. <a ui-sref="home">Go back to Corporate Transit.</a>
            </div>
        </div>
    </section>


    <div class="somebar">
        <div class="bottombar">
            <div class="bar">
                <div class="copyright link">Copyright, <span class="buzzmi">2018  Corporate Transit</span></div>
                <div class="privacy link" ui-sref="terms">Terms And Conditions</div>
                <div class="privacy link">Privacy Policy</div>
                <div class="privacy link">Faqs</div>
                <div class="contact link" ui-sref="contact_us">Contact Us</div>

                <div class="facebook link"><i class="inverted facebook f icon"></i>Facebook</div>
                <div class="twitter link"><i class="inverted twitter icon"></i>Twitter</div>
                <div class="instagram link"><i class="inverted instagram icon"></i>Instagram</div>
            </div>
        </div>
    </div>
</div>