<article ng-controller="PaymentHistoryController" class="paymenthistorypage">

    <div class="ui active dimmer">
        <div class="ui loader"></div>
    </div>

    <div class="generalloader"></div>

    <div class="layers">
        <div class="layerone">
            <div class="layerone_btn pymt_btn">
                <a class="">Payments</a>
            </div>

            <div class="layerone_btn cnts_btn">
                <a class="" ng-click="showContactUs()">Contact Us</a>
            </div>
        </div>

        <div class="sortselect for_mobile" style="display: none;">
            <label for="sort">
                <select id="sort" name="sort" class="pretty">
                    <option value="default" title="Sort by" selected disabled>Sort By</option>
                    <option value="3">Last 3 Days</option>
                    <option value="30">Last Month</option>
                    <option value="90">Last 3 Months</option>
                </select>
            </label>
        </div>

        <div class="layertwo">
            <div class="layertwo_half_one">
                <div class="layertwo_first_btn">
                    <a class="" ng-click="loadHistory('3')">Last 3 Days</a>
                </div>

                <div class="layertwo_first_btn">
                    <a class="" ng-click="loadHistory('30')">Last Month</a>
                </div>

                <div class="layertwo_first_btn">
                    <a class="" ng-click="loadHistory('90')">Last 3 Months</a>
                </div>
            </div>

            <div class="demarcator">
            </div>

            <div class="layertwo_half_two">
                <div class="layertwo_half_btn">
                    <input type="Text" id="tr_from" name="tr_from" ng-model="tr_from" onclick="javascript:NewCssCal('tr_from', 'ddMMyyyy')" placeholder="From" />
                </div>

                <div class="layertwo_half_btn">
                    <input type="Text" id="tr_to" name="tr_to" ng-model="tr_to" onclick="javascript:NewCssCal('tr_to', 'ddMMyyyy')" placeholder="To" />
                </div>

                <div class="layertwo_btn_last">
                    <a class="" ng-click="searchHistory('3')">Search</a>
                </div>
            </div>
        </div>
    </div>


    <div class="row"><div class="column">&nbsp;</div></div>
    <div class="row"><div class="column">&nbsp;</div></div>
    
    <div class="hist">
        <div class="history first">
            <div class="history_left">
                <div class="pymt_type">
                    <span>Payment type</span>
                </div>

                <div class="pymt_amount">
                    <span>Card Number</span>
                </div>

                <div class="pymt_date">
                    <span>Payment Date</span>
                </div>
            </div>

            <div class="history_right">
                <div class="pymt_total">
                    <span>Amount</span>
                </div>
            </div>
        </div>

        <div class="history first" ng-repeat="history in payments_history">
            <div class="history_left">
                <div class="pymt_type">
                    <span ng-bind="history.paymenttype"></span>
                </div>

                <div class="pymt_amount">
                    <span ng-bind="cardnumber"></span>
                </div>

                <div class="pymt_date">
                    <span ng-bind="history.created.split('T')[0]"></span>
                </div>
            </div>

            <div class="history_right">
                <div class="pymt_total">
                    NGN <span ng-bind="history.amount"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="payment_one" style="width: 100%; display: none">
        <div class="no_bk">
            <div class="ui success message" >
                <div class="header" style="color: black !important;">
                    No payment history was found.
                </div>
            </div>
        </div>
    </div>

    <div id="contactus" class="">
        <a href="#" class="closecontactus" ng-click="closecontactus()">x</a>

        <div class="user_register modalregister">
            <!-- <div class="supporttitle">Send Us A Message.</div> -->
            <div>
                <form>

                    <input type="text" name="supportemail" id="supportemail" ng-model="supportemail" placeholder="Email" style="padding-left: 15px !important;">
                    <br/>

                    <input type="text" name="supportsubject" id="supportsubject" ng-model="supportsubject" placeholder="Subject" style="padding-left: 15px !important;">
                    <br/>

                    <textarea placeholder="Message" rows="7" name="supporttext" id="supporttext" ng-model="supporttext" cols="40" class="ui-autocomplete-input" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true" style="padding-left: 15px !important;"></textarea>

                    <div class="row"><div class="column">&nbsp;</div></div>
                    <div class="row"><div class="column">&nbsp;</div></div>

                    <div class="ui fluid large teal submit button log_in_btn" ng-click="sendComplaint()" style="width: 80%;">Send Message</div>

                </form>
            </div>
        </div>
    </div>
</article>
