<div ng-controller="PaymentPageController" class="landingpage">
    <div class="ui active dimmer">
        <div class="ui loader"></div>
    </div>

    <div class="l_layers">
        <div class="layerone">
            <div class="layerone_btn pymt_btn">
                <a class="">Welcome, <span ng-bind="user_fullname.split(' ')[0]"></span></a>.
            </div>

            <div class="layerone_btn cnts_btn">
                <a class="new_a" ng-click="logOut()">Log Out</a>
                <a class="" ng-click="showContactUs()">Contact Us</a>
            </div>
        </div>

        <div class="cardnumber_l">
            Card No: <span ng-bind="user_cardnumber"></span>
        </div>
        <div class="cardnumber_l">
            Card Bal: N<span ng-bind="user_balance"></span>
        </div>
    </div>

    <div class="demarcator">
    </div>

    <div class="l_parttwo">
        <div class="row"><div class="column">&nbsp;</div></div>
        <div class="row"><div class="column">&nbsp;</div></div>
        <div class="row"><div class="column">&nbsp;</div></div>

        <div class="l_parttwo_body">
            <div class="l_parttwo_one">
                <div class="l_parttwo_title"> 
                    Your Route:  <span ng-bind="user_home.split('-')[1]" style="padding: 0 5px;"></span>
                    <div class="bk_arrow_two l_arr_l">
                        <span>&#x2190;</span>
                    </div>
                    <div class="bk_arrow_two l_arr_r">
                        <span>&#x2192;</span>
                    </div>
                    <span ng-bind="user_work.split('-')[1].trim()"></span>
                </div>
                <div class="row"><div class="column">&nbsp;</div></div>
                <div class="row"><div class="column">&nbsp;</div></div>

                <div class="b_rt"> 
                    5:45 am: Conoil Petrol Station
                </div>
                <div class="row"><div class="column">&nbsp;</div></div>
                <div class="row"><div class="column">&nbsp;</div></div>

                <div class="b_rt"> 
                    7:25 am: Conoil Petrol Station
                </div>
                <div class="row"><div class="column">&nbsp;</div></div>
                <div class="row"><div class="column">&nbsp;</div></div>

                <div class="b_rt"> 
                    6:30 pm: Akin Adesola / Adeola Odeku
                </div>
                <div class="row"><div class="column">&nbsp;</div></div>
                <div class="row"><div class="column">&nbsp;</div></div>

                <div class="b_rt"> 
                    8:15 pm: Conoil Petrol Station
                </div>
                <div class="row"><div class="column">&nbsp;</div></div>
                <div class="row"><div class="column">&nbsp;</div></div>
            </div>

            <div class="demarcator_l_parttwo">
            </div>

            <div class="l_parttwo_two">

                <div class="booked_top">
                    <div class="booked">
                        <div class="trips_booked" style="width: max-content;">
                            Card Pay Total
                        </div>

                        <div class="row"><div class="column">&nbsp;</div></div>
                        <div class="row"><div class="column">&nbsp;</div></div>

                        <div class="num_booked">
                            <span ng-bind="num_cardpayments"></span>
                        </div>
                        <div class="row"><div class="column">&nbsp;</div></div>
                        <div class="row"><div class="column">&nbsp;</div></div>
                    </div>

                    <div class="taken tps_taken">
                        <div class="trips_taken" style="width: max-content;">
                            Bank Pay Total
                        </div>

                        <div class="row"><div class="column">&nbsp;</div></div>
                        <div class="row"><div class="column">&nbsp;</div></div>

                        <div class="num_taken">
                            <span ng-bind="num_bankpayments"></span>
                        </div>
                        <div class="row"><div class="column">&nbsp;</div></div>
                        <div class="row"><div class="column">&nbsp;</div></div>
                    </div>
                </div>
                <div class="demarcator_booked">
                </div>

                <div class="booked_below">
                    <div class="deposit">
                        <div class="row"><div class="column">&nbsp;</div></div>
                        <div class="row"><div class="column">&nbsp;</div></div>
                        <div class="trips_booked">
                            Total Deposit
                        </div>

                        <div class="row"><div class="column">&nbsp;</div></div>
                        <div class="row"><div class="column">&nbsp;</div></div>

                        <div class="num_booked">
                            <span ng-bind="user_total_dep"></span>
                        </div>
                    </div>

                    <div class="taken">
                        <div class="row"><div class="column">&nbsp;</div></div>
                        <div class="row"><div class="column">&nbsp;</div></div>
                        <div class="trips_taken">
                        </div>

                        <div class="row"><div class="column">&nbsp;</div></div>
                        <div class="row"><div class="column">&nbsp;</div></div>

                        <div class="num_taken">
                            <!-- <span ng-bind="user_next_trip_time"></span> -->
                        </div>

                        <div class="num_taken none_pending" style="display: none;">
                            <!-- <span >No Pending Trip</span> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="l_btns">
        <div class="bk_trip_btn">
            <button class="ui fluid large teal submit button log_in_btn" id="login_button" ng-click="showBookTrip()" ng-disabled="booktripclicked">Direct Top Up</button>
        </div>

        <div class="fd_card_btn">
            <button class="ui fluid large teal submit button log_in_btn" id="login_button" ng-click="test()" ng-disabled="fundcardclicked">Bank Transfer</button>
        </div>
    </div>

    <div class="trip_sch_info">
        <!-- <div class="trip_sch">
            <div class="trip-sch_title">
                Daily Time Schedule
            </div>
            <div class="row"><div class="column">&nbsp;</div></div>

            <div class="trip_days">
                <div class="day">
                    Mon
                </div>

                <div class="day">
                    Tue
                </div>

                <div class="day">
                    Wed
                </div>

                <div class="day">
                    Thur
                </div>

                <div class="day">
                    Fri
                </div>
            </div>

            <div class="boarding">
                <div class="boarding_title">
                    Boarding
                </div>

                <div class="boarding_time">
                    <div class="bd_time day">
                        5:10
                    </div>

                    <div class="bd_time day">
                        5:20
                    </div>

                    <div class="bd_time day">
                        5:30
                    </div>

                    <div class="bd_time day">
                        5:30
                    </div>

                    <div class="bd_time day">
                        5:30
                    </div>
                </div>
            </div>

            <div class="starts">
                <div class="starts_title">
                    Trip Starts
                </div>

                <div class="trip_starts">
                    <div class="bd_time day">
                        5:40
                    </div>

                    <div class="bd_time day">
                        5:50
                    </div>

                    <div class="bd_time day">
                        5:50
                    </div>

                    <div class="bd_time day">
                        6:00
                    </div>

                    <div class="bd_time day">
                        6:00
                    </div>
                </div>
            </div>

            <div class="row"><div class="column">&nbsp;</div></div>

            <div class="demarcator_starts">
            </div>

            <div class="row"><div class="column">&nbsp;</div></div>

            <div class="boarding">
                <div class="boarding_title">
                    Boarding
                </div>

                <div class="boarding_time">
                    <div class="bd_time day">
                        17:15
                    </div>

                    <div class="bd_time day">
                        17:00
                    </div>

                    <div class="bd_time day">
                        17:00
                    </div>

                    <div class="bd_time day">
                        17:00
                    </div>

                    <div class="bd_time day">
                        17:00
                    </div>
                </div>
            </div>

            <div class="starts">
                <div class="starts_title">
                    Trip Starts
                </div>

                <div class="trip_starts">
                    <div class="bd_time day">
                        17:45
                    </div>

                    <div class="bd_time day">
                        17:30
                    </div>

                    <div class="bd_time day">
                        17:30
                    </div>

                    <div class="bd_time day">
                        17:30
                    </div>

                    <div class="bd_time day">
                        17:30
                    </div>
                </div>
            </div>
        </div>

        <div class="demarcator_sch_info">
        </div> -->

        <div class="">
            <div class="trip-sch_title">
                You can transfer to the following bank accounts:
            </div>
            <div class="row"><div class="column">&nbsp;</div></div>

            <div class="info_body">
                <div class="info">
                    1. Access Bank Nigeria.
                </div>

                <div class="info">
                    2. Ecobank Nigeria PLC.
                </div>

                <div class="info">
                    3. Sterling Bank PLC.
                </div>

                <div class="info">
                    4. Zenith Bank PLC.
                </div>

                <div class="info">
                    5. First City Monument PLC.
                </div>

                <div class="info">
                    6. Skye Bank PLC.
                </div>

                <div class="info">
                    7. First Bank PLC.
                </div>

                <div class="info">
                    8. G.T Bank PLC.
                </div>

                <div class="info">
                    9. Unity Bank PLC.
                </div>

                <div class="info">
                    10. Providus Bank.
                </div>

                <div class="info">
                    11. F.S.D.H Merchant Bank Limited.
                </div>
            </div>
        </div>
    </div>

    <div id="contactus">
        <a href="#" class="closecontactus" ng-click="closecontactus()">x</a>

        <div class="user_register modalregister">
            <!-- <div class="supporttitle">Send Us A Message.</div> -->
            <div>
                <form>

                    <input type="text" name="supportemail" id="supportemail" ng-model="supportemail" placeholder="Email" style="padding-left: 15px !important;">
                    <br/>

                    <input type="text" name="supportsubject" id="supportsubject" ng-model="supportsubject" placeholder="Subject" style="padding-left: 15px !important;">
                    <br/>

                    <textarea placeholder="Message" rows="7" name="supporttext" id="supporttext" ng-model="supporttext" cols="40" class="ui-autocomplete-input" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true" style="padding-left: 15px !important;"></textarea>

                    <div class="row"><div class="column">&nbsp;</div></div>
                    <div class="row"><div class="column">&nbsp;</div></div>

                    <button class="ui fluid large teal submit button log_in_btn" ng-click="sendComplaint()" style="width: 80%;" ng-disabled="contactusclicked">Send Message</button>
                </form>
            </div>
        </div>
    </div>
</div>