<div class="ui middle aligned center aligned grid forms otherpages" ng-controller="LoginPageController">
    <nav id="navbar" class="navbar navbar-expand-lg sticky-top navother">
        <a class="img_logo" ui-sref="home">
            <img src="../../assets/img/logos/ctlogowhite.png" class="">
        </a>
    </nav>

    <div class="ui active dimmer">
        <div class="ui loader"></div>
    </div>

    <div class="column otherpages formcolumn" id="resetform" style="display: none">
        <h2 class="ui image header">
            <div class="content">
                Provide your new password.
            </div>
        </h2>
        <form class="ui large form" novalidate >

            <div class="ui stacked secondary segment removestyle">
                <div class="field">
                    <div class="ui left icon input">
                        <!-- <i class="user icon"></i> -->
                        <input type="password" ng-model="new_password"  id="new_password" name="new_password" placeholder="Enter new password">
                    </div>
                </div>

                <div class="field">
                    <div class="ui left icon input">
                        <!-- <i class="lock icon"></i> -->
                        <input type="password" ng-model="confirm_password" id="confirm_password" name="confirm_password" placeholder="Confirm password">
                    </div>
                </div>

                <div class="ui fluid large teal submit button resetbutton" ng-click="resetPassword()">Submit</div>
                <div class="loginloader"></div>

                <div class="row"><div class="column">&nbsp;</div></div>
                <div class="row"><div class="column">&nbsp;</div></div>

                <!--<div id="loginbutton" style="display: none;">
                    <div class="ui fluid large teal submit button" ui-sref="login">Login</div>
                </div>-->
            </div>
        </form>
    </div>

    <div class="column incr_code otherpages" style="max-width: 100% !important; display: none" id="notverified">
        <div>
            <div class="pagetitle">
                <div class="row"><div class="column">&nbsp;</div></div>
                <div class="row"><div class="column">&nbsp;</div></div>
                Your email activation token has expired.
            </div>
            <div class="pagetext">
                <div class="row"><div class="column">&nbsp;</div></div>
                Click below to request another email activation link.

                <div class="row"><div class="column">&nbsp;</div></div>

                <div class="ui fluid large teal submit button" ng-click="resendCode()" style="max-width: 300px; margin: 0 auto;">Resend Link</div>

                <div class="row"><div class="column">&nbsp;</div></div>
                <div class="row"><div class="column">&nbsp;</div></div>
            </div>
        </div>
    </div>


    <div class="somebar">
        <div class="bottombar">
            <div class="bar">
                <div class="privacy link">Terms And Conditions</div>
                <div class="privacy link">Privacy Policy</div>
                <div class="privacy link">Faqs</div>
                <div class="contact link" ui-sref="contact_us">Contact Us</div>

                <div class="facebook link">Facebook</div>
                <div class="twitter link">Twitter</div>
                <div class="instagram link">Instagram</div>
            </div>
            <div class="copyright link">Copyright, <span class="buzzmi">2018  Corporate Transit</span></div>
        </div>
    </div>
</div>