<div class="ui middle aligned center aligned grid forms resetpage" ng-controller="LoginPageController">
    <nav id="navbar" class="navbar navbar-expand-lg sticky-top navother">
        <a class="img_logo" ui-sref="home">
            <img src="../../assets/img/logos/ct_logo.png" class="">
        </a>
    </nav>

    <div class="generalloader"></div>

    <div class="ui active dimmer">
        <div class="ui loader"></div>
    </div>

    <div class="column forgotp_column" id="resetform" style="display: block">
        <h2 class="ui image header">
            <div class="content">
                <a class="cont_img" ui-sref="home">
                    <img src="../../assets/img/logos/ctlogowhite.png" class="">
                </a>
            </div>

            <div class="forgot_p_message">
                Provide your new password.
            </div>
        </h2>
        <form class="ui large form" novalidate >

            <div class="ui stacked secondary segment removestyle">
                <div class="field">
                    <div class="ui left icon input">
                        <!-- <i class="user icon"></i> -->
                        <input type="password" ng-model="new_password"  id="new_password" name="new_password" placeholder="Enter new password" style="padding-left: 15px !important;">
                    </div>
                </div>

                <div class="field">
                    <div class="ui left icon input">
                        <!-- <i class="lock icon"></i> -->
                        <input type="password" ng-model="confirm_password" id="confirm_password" name="confirm_password" placeholder="Confirm password" style="padding-left: 15px !important;">
                    </div>
                </div>

                <div class="row"><div class="column">&nbsp;</div></div>
                <button class="ui fluid large teal submit button log_in_btn resetbutton" id="resetbtn" ng-click="resetPassword()">Change Password</button>

                <!-- <div class="ui fluid large teal submit button resetbutton" ng-click="resetPassword()">Submit</div> -->
                <div class="loginloader"></div>

                <div class="row"><div class="column">&nbsp;</div></div>
                <div class="row"><div class="column">&nbsp;</div></div>

                <!--<div id="loginbutton" style="display: none;">
                    <div class="ui fluid large teal submit button" ui-sref="login">Login</div>
                </div>-->
            </div>
        </form>
    </div>

    <div class="column incr_code" style="max-width: 100% !important; display: none" id="notverified">
        <div>
            <div class="pagetitle">
                <div class="row"><div class="column">&nbsp;</div></div>
                <div class="row"><div class="column">&nbsp;</div></div>
                Your email activation token does not exist or has expired.
            </div>
            <div class="pagetext">
                <div class="row"><div class="column">&nbsp;</div></div>
                Click below to request another email activation link.

                <div class="row"><div class="column">&nbsp;</div></div>

                <button class="ui fluid large teal submit button" ng-click="resendResetCode()" style="max-width: 300px; margin: 0 auto; background: #4d5862;">Resend Link</button>

                <div class="row"><div class="column">&nbsp;</div></div>
                <div class="row"><div class="column">&nbsp;</div></div>
            </div>
        </div>
    </div>

    <div class="somebar_other">
        <div class="bottombar_other">
            <div class="bar">
                <div class="copyright link_other">Copyright, <span class="buzzmi">2018  Corporate Transit</span></div>
                <div class="privacy link_other" ui-sref="terms">Terms And Conditions</div>
                <div class="privacy link_other">Privacy Policy</div>
                <div class="privacy link_other">Faqs</div>
                <div class="contact link_other" ui-sref="contact_us">Contact Us</div>

                <div class="facebook link_other"><i class="inverted facebook f icon"></i>Facebook</div>
                <div class="twitter link_other"><i class="inverted twitter icon"></i>Twitter</div>
                <div class="instagram link_other"><i class="inverted instagram icon"></i>Instagram</div>
            </div>
        </div>
    </div>
</div>