
<article>
    <nav id="navbar" class="navbar navbar-expand-lg sticky-top navother">
        <a class="img_logo img_o" ui-sref="home">
            <img src="../../assets/img/logos/ctlogowhite.png" class="">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" ui-sref="how_it_works">How It Works</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" ui-sref="login">Book a trip</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" ui-sref="login">Payment</a>
                </li>
                <li class="nav-item active border">
                    <a class="nav-link" ui-sref="signup">Sign Up</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="otherpages">
        <section class="container-fluid routes_bg h-100">

            <div class="routes-jumb">

                <h3 class="display-5">OUR SCHEDULE</h3>
                <h6 class="display-5">From Ikeja to VI</h6>

                <!--<div class="table_cont row">

                    <div class="col-4 h-50">
                        <div class="row route-block header">
                            DAYS
                        </div>

                        <div class="row route-block">
                            MONDAY
                        </div>

                        <div class="row route-block">
                            TUESDAY
                        </div>

                        <div class="row route-block">
                            WEDNESDAY
                        </div>

                        <div class="row route-block">
                            THURSDAY
                        </div>

                        <div class="row route-block">
                            FRIDAY
                        </div>
                    </div>

                    <div class="col-4 h-50">
                        <div class="row route-block header">
                            MORNING
                        </div>

                        <div class="row route-block">
                            5:45am
                        </div>

                        <div class="row route-block">
                            5:50am
                        </div>

                        <div class="row route-block">
                            5:50am
                        </div>

                        <div class="row route-block">
                            6:00am
                        </div>

                        <div class="row route-block">
                            6:00am
                        </div>
                    </div>

                    <div class="col-4 h-50">
                        <div class="row route-block header">
                            EVENING
                        </div>

                        <div class="row route-block">
                            5:30pm
                        </div>

                        <div class="row route-block">
                            5:30pm
                        </div>

                        <div class="row route-block">
                            5:30pm
                        </div>

                        <div class="row route-block">
                            5:30pm
                        </div>

                        <div class="row route-block">
                            5:30pm
                        </div>
                    </div>

                </div>

                <div class="row"><div class="column">&nbsp;</div></div>
                <div class="row"><div class="column">&nbsp;</div></div>

                <h6 class="display-5">From Yaba to VI</h6>

                <div class="table_cont row">

                    <div class="col-4 h-50">
                        <div class="row route-block header">
                            DAYS
                        </div>

                        <div class="row route-block">
                            MONDAY
                        </div>

                        <div class="row route-block">
                            TUESDAY
                        </div>

                        <div class="row route-block">
                            WEDNESDAY
                        </div>

                        <div class="row route-block">
                            THURSDAY
                        </div>

                        <div class="row route-block">
                            FRIDAY
                        </div>
                    </div>

                    <div class="col-4 h-50">
                        <div class="row route-block header">
                            MORNING
                        </div>

                        <div class="row route-block">
                            5:45am
                        </div>

                        <div class="row route-block">
                            5:50am
                        </div>

                        <div class="row route-block">
                            5:50am
                        </div>

                        <div class="row route-block">
                            6:00am
                        </div>

                        <div class="row route-block">
                            6:00am
                        </div>
                    </div>

                    <div class="col-4 h-50">
                        <div class="row route-block header">
                            EVENING
                        </div>

                        <div class="row route-block">
                            5:30pm
                        </div>

                        <div class="row route-block">
                            5:30pm
                        </div>

                        <div class="row route-block">
                            5:30pm
                        </div>

                        <div class="row route-block">
                            5:30pm
                        </div>

                        <div class="row route-block">
                            5:30pm
                        </div>
                    </div>
                </div>-->

                <div class="row"><div class="column">&nbsp;</div></div>
                <div class="row"><div class="column">&nbsp;</div></div>

                <h6 class="display-5">30 minutes boarding time at designated pick up points</h6>

                <div class="row"><div class="column">&nbsp;</div></div>
                <div class="row"><div class="column">&nbsp;</div></div>

                <div>
                    Want Corporate Transit in your Area? Start a campaign
                </div>

                <div class="row"><div class="column">&nbsp;</div></div>

                <div>Minimum of 20 riders required to service new routes.</div>
                <div class="row"><div class="column">&nbsp;</div></div>

                <a>Click here to view ongoing campaigns.</a>
            </div>

        </section>
    </div>

    <div class="row"><div class="column">&nbsp;</div></div>
    <div class="row"><div class="column">&nbsp;</div></div>

    <div class="somebar">
        <div class="bottombar">
            <div class="bar">
                <div class="privacy link">Terms And Conditions</div>
                <div class="privacy link">Privacy Policy</div>
                <div class="privacy link">Faqs</div>
                <div class="contact link" ui-sref="contact_us">Contact Us</div>

                <div class="facebook link">Facebook</div>
                <div class="twitter link">Twitter</div>
                <div class="instagram link">Instagram</div>
            </div>
            <div class="copyright link">Copyright, <span class="buzzmi">2018  Corporate Transit</span></div>
        </div>
    </div>

</article>