<div class="ui middle aligned center aligned grid forms" ng-controller="SignUpPageController">

    <nav id="navbar" class="navbar navbar-expand-lg sticky-top navother">
        <a class="img_logo" ui-sref="home">
            <img src="../../assets/img/logos/ctlogowhite.png" class="">
        </a>
    </nav>

    <div class="column incr_code otherpages" style="max-width: 100% !important; display: none" id="verified">
        <div>
            <div class="pagetitle">
                <div class="row"><div class="column">&nbsp;</div></div>
                <div class="row"><div class="column">&nbsp;</div></div>
                Your account has been successfully verified.
            </div>
            <div class="pagetext">
                <div class="row"><div class="column">&nbsp;</div></div>
                Please check your email for your card number and other details.<br>
                Have a safe ride.

                <div class="row"><div class="column">&nbsp;</div></div>

                <div class="ui fluid large teal submit button" ui-sref="login" style="max-width: 300px; margin: 0 auto;">Login</div>

                <div class="row"><div class="column">&nbsp;</div></div>
                <div class="row"><div class="column">&nbsp;</div></div>
            </div>
        </div>
    </div>

    <div class="ui active dimmer">
        <div class="ui loader"></div>
    </div>

    <div class="column incr_code otherpages" style="max-width: 100% !important; display: none" id="notverified">
        <div>
            <div class="pagetitle">
                <div class="row"><div class="column">&nbsp;</div></div>
                <div class="row"><div class="column">&nbsp;</div></div>
                Your email activation token has expired.
            </div>
            <div class="pagetext">
                <div class="row"><div class="column">&nbsp;</div></div>
                Click below to request another email activation link.

                <div class="row"><div class="column">&nbsp;</div></div>

                <div class="ui fluid large teal submit button" ng-click="resendCode()" style="max-width: 300px; margin: 0 auto;">Resend Link</div>

                <div class="row"><div class="column">&nbsp;</div></div>
                <div class="row"><div class="column">&nbsp;</div></div>
            </div>
        </div>
    </div>

    <div class="somebar">
            <div class="bottombar">
                <div class="bar">
                    <div class="privacy link">Terms And Conditions</div>
                    <div class="privacy link">Privacy Policy</div>
                    <div class="privacy link">Faqs</div>
                    <div class="contact link">Contact Us</div>

                    <div class="facebook link">Facebook</div>
                    <div class="twitter link">Twitter</div>
                    <div class="instagram link">Instagram</div>
                </div>
                <div class="copyright link">Copyright, <span class="buzzmi">2018  Corporate Transit</span></div>
            </div>
        </div>
</div>