@font-face {
    font-family: 'Averta';
    src:  url('../fonts/AvertaDemoPECuttedDemo-Regular.otf') format('opentype');
}

body, .howpage {
    font-family: "Averta", sans-serif;
    background: white !important;
}

button, input, optgroup, select, textarea {
    font-family: "Averta", sans-serif !important;
}

.top-section {
    background-image: url("../img/covers/cbus.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 110%;
    min-height: 600px;
    float: left;
}
.top-section-logo-cont {
    min-height: 90vh;
    /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
}
.top-sec-logo {}
.how_it_works_bg {
    background-image: url("../img/covers/handle.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    text-align: center;
}
.footer_nav {}
.footer_block {
    float: left;
    padding-top: 40px;
    padding-bottom: 40px
}
.footer_links a {
    color: #ddd;
}
.footer_address {}
.footer_socials {
    text-align: right;
    float: right;
}
.footer_copyright {
    font-size: 11px;
    text-align: center;
}
.footer {
    background-color: #222;
    height: auto;
    overflow: auto;
    color: #ddd;
    font-size: 15px;
    z-index: 10;
}
.routes_bg {
    background-image: url("../img/covers/handle.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.col-centered {
    float: none;
    margin: 0 auto;
}
.padding-10 {
    padding-top: 10px;
}
.blu-tran {
    background-color: #2aa7dc;
}
.header {
    color: #fff !important;
    font-size: 15px !important;
}
.tran-jumb {
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;

}
.row-centered {
    text-align: center;
}

.col-centered {
    display: inline-block;
    float: none;
    /* reset the text-align */
    text-align: left;
    /* inline-block space fix */
    margin-right: -4px;
}
.table_cont {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.routes-jumb {
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    text-align: center;
    padding-top: 10%;
    float: none !important;
}
.route-block {
    border: 1px #555 solid;
    height: 16%;
    line-height: 50px;
    color: #bbb;
    background-color: rgba(0, 0, 0, 0.5);
}
.hw_it_works_body {
    background-color: #fff;
}
.nav-item {
    padding-left: 20px;
    padding-right: 20px;
}

.container-fluid:nth-child(1) {
    background-color: #fff;
    top: 0;
}

.container-fluid:nth-child(2) {
    background-color: #fff;
    transform: skewY(0deg);
}
.container-fluid:nth-child(3) {
    background-color: #2aa7dc;
    transform: skewY(0deg);
}
.container-fluid:nth-child(4) {
    background-color: #CBD3D9;
    transform: skewY(0deg);
    margin-bottom: 80px;
}

.container-fluid:nth-child(5) {
    background-color: #fff;
    transform: skewY(0deg);
}
.container-fluid:nth-child(5) {
    background-color: #FFF;
    transform: skewY(0deg);
    margin-bottom: 80px;
}
.container-fluid:nth-child(6) {
    background-color: #FFF;
    transform: skewY(0deg);
    margin-bottom: 80px;
}
.container-fluid:nth-child(7) {
    background-color: #FFF;
    transform: skewY(0deg);
    margin-bottom: 80px;
}
.txt_cntr {
    text-align: center;
}
.commute_sec {
    margin-top: -80px;
    height: 110%;
    min-height: 600px;
    float: left;
}
.how_it_works_block {
    text-align: center;
}
.how_it_works_sec {
    margin-top: -80px;
    margin-bottom: 80px;
    height: 110%;
    min-height: 600px;
    float: left;
}
.comfort_sec {
    margin-top: -80px;
    height: 110%;
    min-height: 600px;
    float: left;
    background-color: #CBD3D9;
}
.about_sec {
    margin-top: 80px;
    height: 110%;
    min-height: 600px;
    float: left;
}
.commute_content {
    margin-top: 80px;
    height: 80%;
    transform: skewY(0deg);
}
.ahead_content {
    margin-top: 80px;
    height: 80%;
    transform: skewY(0deg);
}
.comfort_content {
    margin-top: 80px;
    height: 100%;
    transform: skewY(0deg);
}
.how_it_works_content {
    height: auto;
    min-height: 100%;
}
.about_content {
    height: 100%;
}
.section_container {
    height: 100%;
    float: left;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.about-container {
    background-image: url('../img/covers/cong.jpg');
}
.why-container {
    background-image: url('../img/covers/handle.jpg');
}
.graphiti_one {
    background-image: url('../img/covers/graphiti_one.png');
    height: 90% !important;
}
.graphiti_two {
    background-image: url('../img/covers/graphiti_two.png');
    height: 100% !important;
}
.graphiti {
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    display: flex;
    align-items: center;
}
.about_button_container {
    height: 80px;
    font-size: 16px;
}
.graphiti_logos {
    width: 70%;
    margin: 0 auto;
    font-size: 15px;
}
.graphiti_text {
    width: 50%;
    line-height: 25px;
    margin: 0 auto;
    font-size: 15px;
}
.col-centered {
    float: none;
    margin: 0 auto;
}
.about-title {
    width: 100%;
    text-align: center !important;
    font-size: 40px;
}
.why-title {
    width: 100%;
    text-align: right !important;
    font-size: 40px;
}
button {
    cursor: pointer;
}
.half_col {
    height: 100%;
    /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
}
.third_col {
    height: 100%;
    /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
    float: left;
}
.small-txt {
    font-size: 20px;
}
.smallest-txt {
    font-size: 15px;
}
.big-txt {
    font-size: 30px;
    padding: 30px 0;
}

.light-bg-button {
    border: 2px #20669b solid;
    color: #20669b;
    font-size: 25px;
    background: none;
    margin-top: 50px;
}

.dark-bg-button {
    border: none;
    color: #fff;
    font-size: 25px;
    background: #4d5862;
    margin-top: 50px;
}

.dark-no-bg-button {
    border: 2px #4d5862 solid;
    color: #4d5862;
    font-size: 25px;
    background: none;
    margin-top: 50px;
}

.grey {
    color: #777;
}

.padding-bottom-40 {
    margin-bottom: 50px;
}
.margin-top-40 {
    margin-top: 100px;
}
.white {
    color: #fff;
}
.blue {
    color: #20669b;
}
.light-grey {
    color: #eee;
}
.commute_img_cont {
    float: left;
    text-align: center;
}
.commute_txt_cont {
    float: left;
}
.commute-text-container {
    text-align: right;
}
.hwitwks-text-container {
    text-align: center;
    margin-left: 12.5%;
}
.ahead-text-container {
    text-align: left;
}

.t200px {
    margin-top: 200px;
}

.b30px {
    padding: 30px;
}

.contact_us_page {
    background-color: #fff;
}
.container {
}

/* Style all font awesome icons */

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

/* Add a hover effect if you want */

.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */


/* Facebook */

.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */

.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-youtube {
    background: #bb0000;
    color: white;
}
.fa-instagram {
    background: #125688;
    color: white;
}

/* Style the navbar */

#navbar {
    position: fixed;
    overflow: hidden;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.45);
}

/* Navbar links */

#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

/* Page content */

.content {
    padding: 16px;
}


.navbar-toggler{
    background-image: url('../img/icons/menu.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333 !important;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */

.sticky + .content {
}

.heading_text {
    margin-top: 10%;
}


@media (max-width: 576px) {
    .heading_text {
        font-size: 25px;
    }
    .lead {
        font-size: 13px;
    }
    .route-block {
        font-size: 10px !important;
    }
    .commute_content {
        margin-top: 10%;
        height: 70%;
        transform: skewY(7deg);
    }
    .about_content {
        height: 80%;
    }
    .ahead_content {
        margin-top: 10%;
        height: 70%;
        transform: skewY(7deg);
    }
    .about_button_container {
        font-size: 12px;
        margin-top: 0;
    }
    .comfort_content {
        margin-top: 30%;
        height: 70%;
    }
    .commute_img_cont {
        height: 40%;
        margin-top: 20px;
    }
    .commute_txt_cont {
        height: 60%;
    }
    .big-txt {
        font-size: 25px;
    }
    .small-txt {
        font-size: 15px;
    }
    .smallest-txt {
        font-size: 12px;
    }
    .light-bg-button {
        font-size: 15px;
    }
    .dark-bg-button {
        font-size: 15px;
    }
    .dark-no-bg-button {
        font-size: 15px;
    }
    .about-title {
        width: 100%;
        text-align: center !important;
        font-size: 20px;
        height: 10%;
        margin-top: 10%;
    }
    .why-title {
        visibility: hidden;
    }
    .graphiti_text {
        width: 80%;
        line-height: 25px;
        margin: 0 auto;
        font-size: 12px;
    }
    .about_button_container {
        height: 50px;
        margin-top: 0;
    }
    .graphiti_logos {
        width: 100%;
    }
    .block_txt {
        font-size: 12px;
    }
    .why-container {
        height: 80%;
    }
}
@media (min-width: 768px) {
    .route-block {
        font-size: 10px;
    }
    .about-title {
        width: 100%;
        text-align: center !important;
        font-size: 20px;
        height: 10%;
        margin-top: 10%;
    }
}

/*Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)*/

@media (min-width: 576px) {
    .route-block {
        font-size: 10px;
    }
    .graphiti_text {
        width: 80%;
        line-height: 25px;
        margin: 0 auto;
        font-size: 12px;
    }
    .about-title {
        width: 100%;
        text-align: center !important;
        font-size: 20px;
        height: 10%;
        margin-top: 10%;
    }
}

/*Medium (md) devices (tablets, 768px and up)*/

@media (min-width: 768px) {
    .route-block {
        font-size: 12px;
    }
}

/*Large (lg) devices (desktops, 992px and up)*/

@media (min-width: 992px) {
    .route-block {
        font-size: 15px;
    }
}

/*Extra (xl) large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {}

.st_img {
    margin-top: -100px;
}

.lnk {
    cursor: pointer;
}