@font-face {
    font-family: 'Averta';
    src:  url('../fonts/AvertaDemoPECuttedDemo-Regular.otf') format('opentype');
}

body {
    font-family: "Averta", sans-serif;
    background: #E8E8E8 !important;
    color: white !important;
}

input, optgroup, select, textarea {
    font-family: "Averta", sans-serif !important;
    background: #4d5862 !important;
    color: white !important;
}

button {
    font-family: "Averta", sans-serif !important;
}

.top-section {
    background-image: url("../img/covers/cbus.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 110%;
    min-height: 600px;
    float: left;
}

.top-section-logo-cont {
    min-height: 90vh;
    /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-sec-logo {}
.how_it_works_bg {
    background-image: url("../img/covers/handle.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    text-align: center;
}
.footer_nav {}
.footer_block {
    float: left;
    padding-top: 20px;
    padding-bottom: 20px
}
.footer_links a {
    color: #222;
}
.footer_address {}
.footer_socials {
    text-align: right;
    float: right;
}
.footer_copyright {
    font-size: 11px;
    text-align: center;
}
.footer {
    background-color: white;
    height: auto;
    overflow: auto;
    color: #222;
    font-size: 15px;
    z-index: 10;
    margin-top: 100px;
}
.routes_bg {
    background-image: url("../img/covers/handle.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.grouped.fields {
    text-align: left;
}

select.ui.dropdown {
    height: 45px !important;
    padding: 0 0 0 35px !important;
    color: white !important;
}

.tripf {
    margin: 30px 0 !important;
}

.date_img1 {
    position: absolute;
    top: 31px;
    right: 53%;
    width: 30px;
}

.date_img2 {
    position: absolute;
    top: 31px;
    right: 2%;
    width: 30px;
}

.booktrip {
    margin: 25px 0 !important;
}

.date_img {
    display: flex;
}

a.nav-link {
    cursor: pointer;
}

.pagetitle {
    font-size: 30pt;
}

.pagetext {
    font-size: 15pt;
}

.col-centered {
    float: none;
    margin: 0 auto;
}
.padding-10 {
    padding-top: 10px;
}
.blu-tran {
    background-color: #2aa7dc;
}
.header {
    color: #222 !important;
    font-size: 15px !important;
}
.tran-jumb {
    background-color: white;
    color: #222;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;

}
.row-centered {
    text-align: center;
}
.col-centered {
    display: inline-block;
    float: none;
    /* reset the text-align */
    text-align: left;
    /* inline-block space fix */
    margin-right: -4px;
}
.table_cont {
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 40px;
}
.routes-jumb {
    background: white;
    color: #222;
    text-align: center;
    padding-top: 10%;
    float: none !important;
}

.d_jumb {
    padding-top: 0 !important;
    margin: 0 20px;
}

.row.route-block {
    padding: 0 10px;
    background: white;
}

.route-block {
    border: 1px #555 solid;
    height: 16%;
    line-height: 50px;
    color: #222;
    background-color: rgba(0, 0, 0, 0.5);
}
.hw_it_works_body {
    background-color: #fff;
}
.nav-item {
    padding-left: 10px;
    padding-right: 10px;
}

.container-fluid:nth-child(2) {
    background-color: #fff;
    top: 0;
}

.container-fluid:nth-child(3) {
    background-color: #fff;
    transform: skewY(0deg);
}
.container-fluid:nth-child(4) {
    background-color: #2aa7dc;
    transform: skewY(0deg);
}
.container-fluid:nth-child(5) {
    background-color: #CBD3D9;
    transform: skewY(0deg);
    margin-bottom: 80px;
}

.container-fluid:nth-child(6) {
    background-color: #2aa7dc;
    transform: skewY(0deg);
    margin-bottom: 80px;
}
.container-fluid:nth-child(7) {
    background-color: #FFF;
    transform: skewY(0deg);
    margin-bottom: 80px;
}
.container-fluid:nth-child(8) {
    background-color: #FFF;
    transform: skewY(0deg);
    margin-bottom: 80px;
}

.txt_cntr {
    text-align: center;
}

.commute_sec {
    margin-top: -80px;
    height: 110%;
    min-height: 600px;
    float: left;
}

#howitcommute {
    margin-top: 0 !important;
}

.container-fluid {
    padding-right: 0 !important;
    padding-left: 0 !important;
}
.how_it_works_block {
    text-align: center;
}
.how_it_works_sec {
    margin-top: -80px;
    margin-bottom: 80px;
    height: 110%;
    min-height: 600px;
    float: left;
}
.comfort_sec {
    margin-top: -80px;
    height: 110%;
    min-height: 600px;
    float: left;
    background-color: #ece6e6;
}

.link {
    cursor: pointer;
}

.about_sec {
    margin-top: -80px;
    height: 110%;
    min-height: 600px;
    float: left;
}
.commute_content {
    margin-top: 80px;
    height: 80%;
    transform: skewY(0deg);
}
.ahead_content {
    margin-top: 80px;
    height: 80%;
    transform: skewY(0deg);
}
.comfort_content {
    margin-top: 80px;
    height: 100%;
    transform: skewY(0deg);
}
.how_it_works_content {
    height: auto;
    min-height: 100%;
}
.about_content {
    height: 100%;
}
.section_container {
    height: 100%;
    float: left;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.about-container {
    background-image: url('../img/covers/cong.jpg');
}
.why-container {
    background-image: url('../img/covers/handle.jpg');
}
.graphiti_one {
    background-image: url('../img/covers/graphiti_one.png');
    height: 90% !important;
}
.graphiti_two {
    background-image: url('../img/covers/graphiti_two.png');
    height: 100% !important;
}

.graphiti_text {
    color: #222;
}

.graphiti {
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    display: flex;
    align-items: center;
}
.about_button_container {
    height: 80px;
    font-size: 16px;
}
.graphiti_logos {
    width: 70%;
    margin: 0 auto;
    font-size: 15px;
}
.graphiti_text {
    width: 50%;
    line-height: 25px;
    margin: 0 auto;
    font-size: 15px;
}
.col-centered {
    float: none;
    margin: 0 auto;
}
.about-title {
    width: 100%;
    text-align: center !important;
    font-size: 40px;
}
.why-title {
    width: 100%;
    text-align: right !important;
    font-size: 40px;
}
button {
    cursor: pointer;
}
.half_col {
    height: 100%;
    /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
}
.third_col {
    height: 100%;
    /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
    float: left;
}
.small-txt {
    font-size: 20px;
}
.smallest-txt {
    font-size: 15px;
}
.big-txt {
    font-size: 30px;
}
.light-bg-button {
    border: 2px #20669b solid;
    color: #20669b;
    font-size: 25px;
    background: none;
    margin-top: 50px;
}
.dark-bg-button {
    border: none;
    color: #fff;
    font-size: 25px;
    background: #4d5862;
    margin-top: 50px;
}
.dark-no-bg-button {
    border: 2px #4d5862 solid;
    color: #4d5862;
    font-size: 25px;
    background: none;
    margin-top: 50px;
}
.grey {
    color: #777;
}
.padding-bottom-40 {
    margin-bottom: 50px;
}
.margin-top-40 {
    margin-top: 100px;
}
.white {
    color: #fff;
}
.blue {
    color: #20669b;
}
.light-grey {
    color: #eee;
}
.commute_img_cont {
    float: left;
    text-align: center;
}

.commute_img_cont_l {
    float: right;
    text-align: center;
}

.commute_txt_cont {
    float: left;
}

.commute-text-container {
    text-align: right;
}
.hwitwks-text-container {
    text-align: center;
    margin-left: 12.5%;
}
.ahead-text-container {
    text-align: left;
}


.contact_us_page {

   background-color: #fff;
}
.container {
}

/* Style all font awesome icons */

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

/* Add a hover effect if you want */

.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */


/* Facebook */

.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.navother {
    background: #20669b;
}
.fa-youtube {
    background: #bb0000;
    color: white;
}
.fa-instagram {
    background: #125688;
    color: white;
}

/* Style the navbar */

#navbar {
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: auto;
    /*background-color: white;*/
    /*padding: 0 40px;*/
    top: 0;
}

.range {
    padding: 10px 0;
}

.forgotp {
    cursor: pointer;
    color: rgb(55, 160, 0) !important;
}

.navother {
    padding: 0 40px;
}

/* Navbar links */

#navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.navother a {
    color: #fff !important;
}

/* Page content */

.content {
    padding: 16px;
    color: white !important;
}

li.nav-item.active.border {
    background: #4d5862;
    border: none !important;
}

.navbar-toggler{
    background-image: url('../img/icons/menu.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333 !important;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */

.sticky + .content {
}

.heading_text {
    margin-top: 10%;
}

.ui.modal>.close {
    font-family: "Averta", sans-serif;
    top: 0.1rem !important;
    right: 0.5rem !important;
    color: black !important;
}

.c_l {
    display: none;
}

.text_div {
    margin-top: -130px !important;
}

.f_name {
    width: 50%;
    line-height: 1.5;
    margin-bottom: 40px;
}

.fname_d {
    padding: 0 0 30px 0;
    line-height: 1.2;
}

.c_trip {
    top: 35% !important;
}

.ui.fluid.button{
    width: 90% !important;
    margin: 0 auto !important;
}

.i_img {
    margin-top: 0 !important;
}

.b_id {
    cursor: pointer;
}

.modal-backdrop.show {
    display: none !important;
}

@media (max-width: 700px) {
    .desk_top {
        display: none;
    }

    .loginloader {
        right: 33% !important;
    }

    #btn_grp {
        width: 50% !important;
    }

    .c_l {
        display: block;
        height: 100% !important;
        margin-bottom: -270px !important;
        float: left;
    }

    .otherpages, .otherpages_pay {
        /* background: white; */
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    /*.ui.grid>* {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }*/

    .l_img {
        visibility: hidden;
    }
    
    .bookingloader {
        top: 68%;
        right: 35%;
    }

    .oninst, .bktrans, .usd {
        width: 100% !important;
        margin: 0 auto;
    }

    .otherpages_pay {
        margin: 10px 0 !important;
    }

    #navbarResponsive {
        height: 50%;
    }

    .why-title {
        visibility: hidden;
    }
    .heading_text {
        font-size: 25px;
    }
    .lead {
        font-size: 13px;
    }
    .route-block {
        font-size: 10px !important;
    }
    .commute_content {
        margin-top: 10%;
        height: 70%;
        transform: skewY(0deg);
    }
    .about_content {
        height: 80%;
    }
    .ahead_content {
        margin-top: 10%;
        height: 70%;
        transform: skewY(0deg);
    }
    .about_button_container {
        font-size: 12px;
        margin-top: 0;
    }
    .comfort_content {
        margin-top: 30%;
        height: 70%;
    }
    .commute_img_cont {
        height: 40%;
        margin-top: 20px;
    }
    .commute_txt_cont {
        height: 60%;
    }
    .big-txt {
        font-size: 25px;
    }
    .small-txt {
        font-size: 15px;
    }
    .smallest-txt {
        font-size: 12px;
    }
    .light-bg-button {
        font-size: 15px;
    }
    .dark-bg-button {
        font-size: 15px;
    }
    .dark-no-bg-button {
        font-size: 15px;
    }
    .about-title {
        width: 100%;
        text-align: center !important;
        font-size: 20px;
        height: 10%;
        margin-top: 10%;
    }

    .why-title {
        visibility: hidden;
    }

    .terms, .social {
        display: flex;
    }

    .graphiti_text {
        width: 80%;
        line-height: 25px;
        margin: 0 auto;
        font-size: 12px;
    }
    .about_button_container {
        height: 50px;
        margin-top: 0;
    }
    .graphiti_logos {
        width: 100%;
    }
    .block_txt {
        font-size: 12px;
    }
    .why-container {
        height: 80%;
    }
}
@media (min-width: 768px) {
    .route-block {
        font-size: 10px;
    }
    .about-title {
        width: 100%;
        text-align: center !important;
        font-size: 20px;
        height: 10%;
        margin-top: 10%;
    }
}

@media (min-width: 340px) and (max-width: 500px) {
    .ui.form .fields {
        -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
    }
}

/*Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)*/

@media (min-width: 576px) {
    .route-block {
        font-size: 10px;
    }
    .graphiti_text {
        width: 80%;
        line-height: 25px;
        margin: 0 auto;
        font-size: 12px;
    }
    .about-title {
        width: 100%;
        text-align: center !important;
        font-size: 40px;
        height: 10%;
        margin-top: 10%;
    }
}

/*Medium (md) devices (tablets, 768px and up)*/

@media (min-width: 768px) {
    .route-block {
        font-size: 12px;
    }
}

/*Large (lg) devices (desktops, 992px and up)*/

@media (min-width: 992px) {
    .route-block {
        font-size: 15px;
    }
}

/*Extra (xl) large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {}

/* My styles */
.otherpages {
    /*background: white;*/
    margin: 100px 50px !important;
    -webkit-box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    box-sizing: content-box !important;
}

.removestyle {
    background: #4d5862 !important;
    box-shadow: none !important;
    border: none !important;
}

.removestyle_mod {
    background: #fff !important;
    box-shadow: none !important;
    border: none !important;
}

.removestyle_mod:after {
    border-top: none !important;
    background: none !important;
}

.removestyle:after {
    border-top: none !important;
    background: none !important;
}

.ui.form .fields {
    -ms-flex-wrap: nowrap !important;
    flex-wrap: nowrap !important;
}

textarea#message {
    /*background: #E8E8E8;*/
    color: white !important;
}

input#name {
    /*background: #E8e8e8;*/
    color: white !important;
}

input#email {
    /*background: #E8e8e8;*/
    color: white !important;
}

input#password {
    /*background: #E8e8e8;*/
    color: white !important;
}

input#demo1 {
    /*background: #E8e8e8;*/
    color: white !important;
}

input#demo2, .mod {
    /*background: #E8e8e8;*/
    color: white !important;
}

button#contact-btn {
    background: rgb(77, 88, 98);
    border-color: #E8e8e8;
    color: #fff;
    border-radius: 0;
}

.oninst, .bktrans, .usd {
    width: 30%;
    margin: 0 auto;
}

.otherpages_pay {
   /* margin: 50px 25px !important;*/
}

.formcolumn {
    max-width: 600px;
    background: #4d5862;
    width: 100% !important;
    -webkit-box-shadow: 0 1px 6px rgba(57,73,76,0.35);
    box-shadow: 0 1px 6px rgba(57,73,76,0.35);
    /*padding-top: 100px !important;*/
    margin-bottom: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.formcolumn_l {
    /*max-width: 600px;*/
    background: #4d5862;
    width: 100% !important;
    -webkit-box-shadow: 0 1px 6px rgba(57,73,76,0.35);
    box-shadow: 0 1px 6px rgba(57,73,76,0.35);
    padding-top: 60px !important;
}

.ahead_content_l {
    height: 100%;
}

.l_val_a, .l_val_cn {
    border: 2px solid rgb(32, 102, 155);
    color: white;
    padding: 10px 30px;
    background: rgb(32, 102, 155);
    color: white;
    border-radius: 5px;
    font-size: 0.7em;
    margin-left: 10px;
}

.l_btn {
    padding: 15px 30px;
    background: rgb(32, 102, 155);
    border: none;
    margin-right: 16px;
    color: white;
    margin-bottom: 15px;
}

.l_val {
    font-weight: bold;
    font-size: 13pt;
    margin-left: 10px;
}

.inpt {
    padding-left: 12px !important;
}

.ui.teal.button {
    background-color: #4d5862 !important;
    color: white !important;
    border: 1px solid white;
}

.aboutpage {
    margin-top: 0 !important;
    background-size: cover !important;
}

.about {
    margin: 0 !important;
}

.act_title {
    font-size: 30pt;
    color: #20669b;
    line-height: 1;
}

.ui.dimmer {
    background-color: rgb(2, 2, 2) !important;
}

.ui[class*="left icon"].input > input {
    padding-left: 15px !important;
}

.loginloader:after {
    animation: loginloader 1.2s linear infinite;
}

.forgotloader:after {
    animation: forgotloader 1.2s linear infinite;
}

.paymentloader:after {
    animation: paymentloader 1.2s linear infinite;
}

.bookingloader:after {
    animation: bookingloader 1.2s linear infinite;
}

.lds-dual-ring:after, .loginloader:after, .bookingloader:after, .paymentloader:after, .forgotloader:after {
    content: " ";
    display: block;
    width: 40px;
    height: 40px;
    margin: 1px;
    border-radius: 50%;
    border: 4px solid #8e8e8e;
    border-color: white transparent white transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

.lds-dual-ring {
    display: inline-block;
    width: 64px;
    height: 64px;
    position: absolute;
    top: 88%;
    right: 43%;
    display: none;
}

.forgotloader {
    display: inline-block;
    width: 64px;
    height: 64px;
    position: absolute;
    top: 54%;
    right: 43%;
    display: none;
}

.bk_history {
    transform: skewY(0)!important;
}

#verified, #notverified {
    width: 100%;
}

.loginloader {
    display: inline-block;
    width: 64px;
    height: 64px;
    position: absolute;
    top: 67%;
    right: 43%;
    display: none;
}

.bookingloader {
    display: inline-block;
    width: 64px;
    height: 64px;
    position: absolute;
    top: 75%;
    right: 43%;
    display: none;
}

.paymentloader {
    display: inline-block;
    width: 64px;
    height: 64px;
    position: absolute;
    top: 71%;
    right: 43%;
    display: none;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes loginloader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes forgotloader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes bookingloader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes paymentloader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.paytitle {
    text-align: center;
}

.ui.tiny.modal.transition.visible.active.scrolling {
    background: none !important;
}

.modalinput {
    width: 100%
}

.modalfield {
    padding: 10px 0;
    text-align: center;
}

.modal {
    position: fixed;
    top: 20% !important;
    text-align: center !important;
    left: 0 !important;
    height: 321px !important;
    margin: 0 auto !important;
}

.modal-backdrop {
    position: fixed;
    /* top: 0; */
    /* right: 0; */
    /* bottom: 0; */
    /* left: 0; */
    /* z-index: 1040; */
     background: none !important;
    z-index: 0 !important;
}

.incr_code {
    text-align: center;
    /*max-width: 600px;*/
     background: white;
    /* width: 100% !important; */
    -webkit-box-shadow: 0 1px 6px rgba(57,73,76,0.35);
    box-shadow: 0 1px 6px rgba(57,73,76,0.35);
    /* padding-top: 100px !important; */
    margin-bottom: 30px;
}

.paymentsuccess {
    font-size: 20pt;
    color: rgb(33, 186, 69);
    text-align: center;
    padding: 20pt 0;
}

.paymentsuccess a {
    color: rgb(33, 186, 69);
}

.oninst, .bktrans, .usd {
    padding: 10px 0;
}

.ui.message {
    color: white !important;
    background: #4d5862 !important;
    border: 1px solid #4d5862;
    margin-right: 35px !important;
    margin-left: 15px !important;
}

.logo_text {
    padding: 40px;
    color: white;
    font-size: 25pt;
    line-height: 1.5;
    text-align: center;
}

.img_logo {
    text-align: left !important;
    height: 50px;
    width: 100px;
}

.img_logo img {
    height: 32px;
    margin-top: 14px;
}

#text_cont {
    display: block;
}

.bigbutton {
    background-color: #4d5862;
    border: 1px solid #4d5862;
    color: white;
    min-width: 200px;
    padding: 20px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.centerbutton {
    /*margin-top: -250px;*/
    text-align: center;
}

.ast {
    font-size: 20pt;
    color: red;
    margin: 11px 5px;
}

.sel_field {
    display: flex;
}

.si_btn {
    padding-right: 20px;
}

#contact_sect {
    background: rgb(77, 88, 98);
}