@font-face {
    font-family: 'Averta';
    src:  url('../fonts/AvertaDemoPECuttedDemo-Regular.otf') format('opentype');
}

body {
    font-family: "Averta", sans-serif;
    background: #4d5862 !important;
    color: white !important;
}

input, optgroup, select, textarea {
    font-family: "Averta", sans-serif !important;
    background: #fff !important;
    color: #4d5862 !important;
}

input {
    border: 1px solid #4d5862 !important;
}

button {
    font-family: "Averta", sans-serif !important;
}

.top-section {
    background-image: url("../img/covers/cbus.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 110%;
    min-height: 600px;
    float: left;
}

.bok_history {
    background-image: url("../img/icons/METR.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 110%;
    min-height: 600px;
    float: left;
}

.top-section-logo-cont {
    min-height: 90vh;
    /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-sec-logo {}
.how_it_works_bg {
    background-image: url("../img/covers/handle.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    text-align: center;
}
.footer_nav {}
.footer_block {
    float: left;
    padding-top: 20px;
    padding-bottom: 20px
}
.footer_links a {
    color: #222;
}
.footer_address {}
.footer_socials {
    text-align: right;
    float: right;
}
.footer_copyright {
    font-size: 11px;
    text-align: center;
}
.footer {
    background-color: white;
    height: auto;
    overflow: auto;
    color: #222;
    font-size: 15px;
    z-index: 10;
    margin-top: 100px;
}
.routes_bg {
    background-image: url("../img/covers/handle.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.grouped.fields {
    text-align: left;
}

select.ui.dropdown {
    height: 45px !important;
    color: #4d5862 !important;
    border: 1px solid #4f505a !important;
}

.tripf {
    margin: 30px 0 !important;
}

.date_img1 {
    position: absolute;
    top: 31px;
    right: 53%;
    width: 30px;
}

.date_img2 {
    position: absolute;
    top: 31px;
    right: 2%;
    width: 30px;
}

.booktrip {
    margin: 25px 0 !important;
}

.date_img {
    display: flex;
}

a.nav-link {
    cursor: pointer;
}

.pagetitle {
    font-size: 25pt;
    line-height: 1;
    color: #4d5862;
}

.pagetext {
    font-size: 15pt;
    color: #4d5862;
}

.col-centered {
    float: none;
    margin: 0 auto;
}
.padding-10 {
    padding-top: 10px;
}
.blu-tran {
    background-color: #2aa7dc;
}
.header {
    color: #222 !important;
    font-size: 15px !important;
}
.tran-jumb {
    background-color: white;
    color: #222;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;

}
.row-centered {
    text-align: center;
}
.col-centered {
    display: inline-block;
    float: none;
    /* reset the text-align */
    text-align: left;
    /* inline-block space fix */
    margin-right: -4px;
}
.table_cont {
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 40px;
}
.routes-jumb {
    background: white;
    color: #222;
    text-align: center;
    padding-top: 10%;
    float: none !important;
}

.d_jumb {
    padding-top: 0 !important;
    margin: 0 20px;
}

.row.route-block {
    padding: 0 10px;
    background: white;
}

.route-block {
    border: 1px #555 solid;
    height: 16%;
    line-height: 50px;
    color: #222;
    background-color: rgba(0, 0, 0, 0.5);
}
.hw_it_works_body {
    background-color: #fff;
}
.nav-item {
    /*padding-left: 10px;*/
    padding-right: 10px;
}

.container-fluid:nth-child(2) {
    background-color: #fff;
    top: 0;
}

.container-fluid:nth-child(3) {
    background-color: #fff;
    transform: skewY(0deg);
}
.container-fluid:nth-child(4) {
    background-color: #2aa7dc;
    transform: skewY(0deg);
}
.container-fluid:nth-child(5) {
    background-color: #CBD3D9;
    transform: skewY(0deg);
    margin-bottom: 80px;
}

.container-fluid:nth-child(6) {
    background-color: white;
    transform: skewY(0deg);
    margin-bottom: 80px;
}
.container-fluid:nth-child(7) {
    background-color: #FFF;
    transform: skewY(0deg);
    margin-bottom: 80px;
}
.container-fluid:nth-child(8) {
    background-color: #FFF;
    transform: skewY(0deg);
    margin-bottom: 80px;
}

.txt_cntr {
    text-align: center;
}

.commute_sec {
    margin-top: -80px;
    height: 110%;
    min-height: 600px;
    float: left;
}

#howitcommute {
    margin-top: 0 !important;
}

.container-fluid {
    padding-right: 0 !important;
    padding-left: 0 !important;
}
.how_it_works_block {
    text-align: center;
}
.how_it_works_sec {
    margin-top: -80px;
    margin-bottom: 80px;
    height: 110%;
    min-height: 600px;
    float: left;
}
.comfort_sec {
    margin-top: -80px;
    height: 110%;
    min-height: 600px;
    float: left;
    background-color: #ece6e6;
}

.link {
    cursor: pointer;
}

.about_sec {
    margin-top: -80px;
    height: 110%;
    min-height: 600px;
    float: left;
}
.commute_content {
    margin-top: 80px;
    height: 80%;
    transform: skewY(0deg);
}
.ahead_content {
    margin-top: 80px;
    height: 80%;
    transform: skewY(0deg);
}
.comfort_content {
    margin-top: 80px;
    height: 100%;
    transform: skewY(0deg);
}
.how_it_works_content {
    height: auto;
    min-height: 100%;
}
.about_content {
    height: 100%;
}
.section_container {
    height: 100%;
    float: left;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.about-container {
    background-image: url('../img/covers/cong.jpg');
}
.why-container {
    background-image: url('../img/covers/handle.jpg');
}
.graphiti_one {
    background-image: url('../img/covers/graphiti_one.png');
    height: 90% !important;
}
.graphiti_two {
    background-image: url('../img/covers/graphiti_two.png');
    height: 100% !important;
}

.graphiti_text {
    color: #222;
}

.graphiti {
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    display: flex;
    align-items: center;
}
.about_button_container {
    height: 80px;
    font-size: 16px;
}
.graphiti_logos {
    width: 70%;
    margin: 0 auto;
    font-size: 15px;
}
.graphiti_text {
    width: 50%;
    line-height: 25px;
    margin: 0 auto;
    font-size: 15px;
}
.col-centered {
    float: none;
    margin: 0 auto;
}
.about-title {
    width: 100%;
    text-align: center !important;
    font-size: 40px;
}
.why-title {
    width: 100%;
    text-align: right !important;
    font-size: 40px;
}
button {
    cursor: pointer;
}
.half_col {
    height: 100%;
    /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
}
.third_col {
    height: 100%;
    /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
    float: left;
}
.small-txt {
    font-size: 20px;
}
.smallest-txt {
    font-size: 15px;
}
.big-txt {
    font-size: 30px;
}
.light-bg-button {
    border: 2px #20669b solid;
    color: #20669b;
    font-size: 25px;
    background: none;
    margin-top: 50px;
}
.dark-bg-button {
    border: none;
    color: #fff;
    font-size: 25px;
    background: #4d5862;
    margin-top: 50px;
}
.dark-no-bg-button {
    border: 2px #4d5862 solid;
    color: #4d5862;
    font-size: 25px;
    background: none;
    margin-top: 50px;
}
.grey {
    color: #777;
}
.padding-bottom-40 {
    margin-bottom: 50px;
}
.margin-top-40 {
    margin-top: 100px;
}
.white {
    color: #fff;
}
.blue {
    color: #20669b;
}
.light-grey {
    color: #eee;
}
.commute_img_cont {
    float: left;
    text-align: center;
}

.commute_img_cont_l {
    float: right;
    text-align: center;
}

.commute_txt_cont {
    float: left;
}

.commute-text-container {
    text-align: right;
}

.hwitwks-text-container {
    text-align: center;
    margin-left: 12.5%;
}
.ahead-text-container {
    text-align: left;
}


.contact_us_page {

   background-color: #fff;
}
.container {
}

/* Style all font awesome icons */

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

/* Add a hover effect if you want */

.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */


/* Facebook */

.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.navother {
    background: white;
}

.navother a {
    color: #4d5862 !important;
}
.fa-youtube {
    background: #bb0000;
    color: white;
}
.fa-instagram {
    background: #125688;
    color: white;
}

/* Style the navbar */

#navbar {
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 75px;
    /*background-color: white;*/
    /*padding: 0 40px;*/
    top: 0;
    padding: 0 45px !important;
    /*border: 1px solid lightgrey;*/
}

.range {
   /* padding: 10px 0;*/
}

.forgotp {
    cursor: pointer;
    color: white !important;
}


.navother {
    padding: 0 40px;
    border: 1px solid lightgrey;
}

/* Navbar links */

#navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.navother a {
    color: #4d5862 !important;
}

/* Page content */

.content {
    padding: 16px;
    color: #4d5862 !important;
    font-size: x-large;
}

li.nav-item.active.border {
    background: #4d5862;
    border: none !important;
    margin-right: 14px;
    padding-left: 10px;
}

.navbar-toggler{
    background-image: url('../img/icons/menu.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333 !important;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */

.sticky + .content {
}

.heading_text {
    margin-top: 10%;
}

.ui.modal>.close {
    font-family: "Averta", sans-serif;
    top: 0.1rem !important;
    right: 0.5rem !important;
    color: black !important;
}

.c_l {
    display: none;
}

.text_div {
    margin-top: -130px !important;
}

.f_name {
    width: 50%;
    line-height: 1.5;
    margin-bottom: 40px;
}

.fname_d {
    padding: 0 0 30px 0;
    line-height: 1.2;
}

.c_trip {
    top: 35% !important;
}

.ui.fluid.button{
    /*width: 96% !important;*/
    margin: 0 auto !important;
}

.i_img {
    margin-top: 0 !important;
}

.b_id {
    cursor: pointer;
    box-sizing: border-box;
}

.modal-backdrop.show {
    display: none !important;
}

.img_c img {
    text-align: left !important;
    height: 32px;
}

.p_data {
    font-weight: bold;
    font-size: larger;
}

.loginloader {
    right: 45% !important;
}

.rout_two {
    text-align: left;
}

.map_route {
    text-align: center;
    padding: 17px 0;
    margin-bottom: 100px;
}

.map_route img {
    height: 300px;
    margin-top: 48px;
}

.route_start {
    position: absolute;
    right: 58%;
    top: 67%;
    font-size: 20pt;
    font-weight: 900;
}

.route_end {
    position: absolute;
    right: 84%;
    top: 85.5%;
    font-size: 20pt;
    font-weight: 900;
}

.sort_select {
    padding: 10px 14px 0;
    text-align: left;
}

.sorttt {
    padding: 15px 15px !important;
    height: 53px !important;
}

@media (min-width: 500px) and (max-width: 1100px) {
    .t_bal, .c_bal {
        width: 45% !important;
    }

    .lndg_fullname {
        line-height: 1.5 !important;
    }
}

@media (max-width: 700px) {
    .rout_two {
        text-align: center !important;
    }

    .map_route {
        padding: 25px 0;
        margin-bottom: 0 !important;
    }

    .i_frame {
        width: 100% !important;
    }

    .bg_brk {
        display: block !important;
    }
    .brk_cont {
        width: 100% !important;
        line-height: 1 !important;
        margin: 0 10px !important;
    }

    .half_one_2_header {
        margin-right: 0 !important;
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.35);
        -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.35);
        -o-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.35);
        padding: 20px;
        text-align: center;
    }

    .half_two_2_header {
        margin-left: 0 !important;
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.35);
        -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.35);
        -o-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.35);
        padding: 20px;
        text-align: center;
    }

    .morning, .even_route, .evening, .morn_route {
         display: block !important; 
    }

    .morn {
        transform: rotate(0) !important;
        text-align: center;
    }

    .half_one_2, .half_two_2 {
         width: 100% !important; 
    }

    .half_one, .half_two {
        width: 100% !important;
        margin: 0 auto;
        padding-bottom: 30px;
    }

    .part_one, .part_two {
        padding: 0 20px 0;
        display: block !important;
        justify-content: center;
    }

    .bookingpage {
        display: block !important;
    }

    .no_bk {
        width: 100% !important;
    }

    .enj {
        width: 90% !important;
    }

    .booking_one, .booking_two {
        width: 90% !important;
    }

    .t_bal, .c_bal {
        width: 45% !important;
    }

    .lndg_fullname {
        line-height: 1.5 !important;
    }

    .table_cont_p {
        margin-left: 12px;
        margin-right: 12px;
        margin-top: 40px;
    }

    .table_cont_b {
        margin-left: 6px;
        margin-right: 6px;
        margin-top: 40px;
    }

    .img_o {
        margin-left: 10px !important;
    }

    .min_h {
        min-height: 700px !important;
    }

    .choice_loader {
        top: 100% !important;
        right: 38% !important;
    }
    #navbar {
        height: auto !important;
    }

    .ui.loader {
        left: 45% !important;
    }

    .p_data {
        font-weight: bold;
        font-size: larger;
    }

    .p_hist_img {
        visibility: hidden;
        display: none;
    }

    .display-5 {
        font-weight: 100;
    }

    #ph_page {
        margin: 100px 20px !important;
    }

    .desk_top {
        display: none;
    }

    .loginloader {
        right: 33% !important;
    }

    #btn_grp {
        width: 50% !important;
    }

    .c_l {
        display: block;
        height: 100% !important;
        margin-bottom: -270px !important;
        float: left;
    }

    .otherpages, .otherpages_pay {
        /* background: white; */
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    /*.ui.grid>* {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }*/

    .l_img {
        visibility: hidden;
    }
    
    .bookingloader {
        top: 68%;
        right: 35%;
    }

    .oninst, .bktrans, .usd {
        width: 100% !important;
        margin: 0 auto;
    }

    .otherpages_pay {
        margin: 10px 0 !important;
    }

    #navbarResponsive {
        height: 50%;
    }

    .why-title {
        visibility: hidden;
    }
    .heading_text {
        font-size: 25px;
    }
    .lead {
        font-size: 13px;
    }
    .route-block {
        font-size: 10px !important;
    }
    .commute_content {
        margin-top: 10%;
        height: 70%;
        transform: skewY(0deg);
    }
    .about_content {
        height: 80%;
    }
    .ahead_content {
        margin-top: 10%;
        height: 70%;
        transform: skewY(0deg);
    }
    .about_button_container {
        font-size: 12px;
        margin-top: 0;
    }
    .comfort_content {
        margin-top: 30%;
        height: 70%;
    }
    .commute_img_cont {
        height: 40%;
        margin-top: 20px;
    }
    .commute_txt_cont {
        height: 60%;
    }
    .big-txt {
        font-size: 25px;
    }
    .small-txt {
        font-size: 15px;
    }
    .smallest-txt {
        font-size: 12px;
    }
    .light-bg-button {
        font-size: 15px;
    }
    .dark-bg-button {
        font-size: 15px;
    }
    .dark-no-bg-button {
        font-size: 15px;
    }
    .about-title {
        width: 100%;
        text-align: center !important;
        font-size: 20px;
        height: 10%;
        margin-top: 10%;
    }

    .why-title {
        visibility: hidden;
    }

    .terms, .social {
        display: flex;
    }

    .graphiti_text {
        width: 80%;
        line-height: 25px;
        margin: 0 auto;
        font-size: 12px;
    }
    .about_button_container {
        height: 50px;
        margin-top: 0;
    }
    .graphiti_logos {
        width: 100%;
    }
    .block_txt {
        font-size: 12px;
    }
    .why-container {
        height: 80%;
    }
}
@media (min-width: 768px) {
    .route-block {
        font-size: 10px;
    }
    .about-title {
        width: 100%;
        text-align: center !important;
        font-size: 20px;
        height: 10%;
        margin-top: 10%;
    }
}

@media (min-width: 340px) and (max-width: 500px) {
    .ui.form .fields {
        -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
    }
}

/*Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)*/

@media (min-width: 576px) {
    .route-block {
        font-size: 10px;
    }
    .graphiti_text {
        width: 80%;
        line-height: 25px;
        margin: 0 auto;
        font-size: 12px;
    }
    .about-title {
        width: 100%;
        text-align: center !important;
        font-size: 40px;
        height: 10%;
        margin-top: 10%;
    }
}

/*Medium (md) devices (tablets, 768px and up)*/

@media (min-width: 768px) {
    .route-block {
        font-size: 12px;
    }
}

/*Large (lg) devices (desktops, 992px and up)*/

@media (min-width: 992px) {
    .route-block {
        font-size: 15px;
    }
}

/*Extra (xl) large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {}

/* My styles */
.otherpages {
    /*background: white;*/
    margin: 100px 50px !important;
    -webkit-box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    box-sizing: content-box !important;
}

.removestyle {
    background: none !important;
    box-shadow: none !important;
    border: none !important;
}

.removestyle_mod {
    background: #fff !important;
    box-shadow: none !important;
    border: none !important;
}

.removestyle_mod:after {
    border-top: none !important;
    background: none !important;
}

.removestyle:after {
    border-top: none !important;
    background: none !important;
}

.ui.form .fields {
    -ms-flex-wrap: nowrap !important;
    flex-wrap: nowrap !important;
}

textarea#message {
    /*background: #E8E8E8;*/
    color: white !important;
}

input#name {
    background: #fff !important;
    color: rgb(77, 88, 98) !important;
    border: 1px solid rgb(77, 88, 98);
}

input#email, input#username, input#phone, input#new_password, input#confirm_password, input#org, input#fullname, input#ct_cardnumber, input#password, input#resetemail {
    background: none !important;
    color: rgb(255, 255, 255) !important;
    border-bottom: 1px solid #fff !important;
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    border-radius: 0 !important;
}

input#supportemail, input#supportsubject, input#demo1, input#demo2, textarea#supporttext, input#cardnumber {
    width: 100%;
    outline: none;
    background: none !important;
    color: #4d5862 !important;
    border-bottom: 1px solid #4d5862 !important;
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    border-radius: 0 !important;
    padding: 20px 0 10px;
}

input#tr_from, input#tr_to {
    outline: none;
    background: none !important;
    color: #4d5862 !important;
    padding: 3% 2%;
    border-bottom: 1px solid #4d5862 !important;
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    border-radius: 0 !important;
    cursor: pointer;
    width: 60%;
}

input#cardnumber {
    width: 50%;
    text-align: center;
}

span#calBorder {
    z-index: 2232233434 !important;
    left: 42% !important;
    top: 30% !important;
    position: fixed !important;
}

.forgotp_column {
    width: 50% !important;
    color: white;
}

.forgot_p_message {
    color: white;
    font-weight: 400;
}

select#gender, select#work_location, select#home_location {
    background: none !important;
    color: #c4d5e2 !important;
    /*color: rgb(255, 255, 255) !important;*/
    border-bottom: 1px solid #fff !important;
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    border-radius: 0 !important;
}

select#dep, select#dest {
    background: none !important;
    color: #4d5862 !important;
    /* color: rgb(255, 255, 255) !important; */
    border-bottom: 1px solid #4d5862 !important;
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    border-radius: 0 !important;
}

.choicefield, .choicefield-right {
    width: 50%;
}

.warning {
    color: #4d5862;
    margin-top: 2%;
}

.choicefield-right {
    margin-left: 6% !important;
}

.log_in_btn {
    background-color: #4d5862 !important;
    /* width: 50%; */
    height: 60px;
    border: none;
    line-height: 2 !important;
    border-radius: 0 !important;
}

.noacct a {
    color: white;
    font-weight: 600;
}

.cont_img img {
    width: 200px;
}

input#demo1 {
    background: #fff !important;
    color: rgb(77, 88, 98) !important;
    border: 1px solid rgb(77, 88, 98);
    cursor: pointer;
    text-align: center;
}

input#demo2 {
    background: #fff !important;
    color: rgb(77, 88, 98) !important;
    border: 1px solid rgb(77, 88, 98);
    cursor: pointer;
    text-align: center;
}

.mod {
    background: #fff !important;
    color: rgb(77, 88, 98) !important;
    position: absolute;
    top: 38%;
    margin-left: 10px;
}

button#contact-btn {
    background: rgb(77, 88, 98);
    border-color: #E8e8e8;
    color: #fff;
    border-radius: 0;
}

.oninst, .bktrans, .usd {
    width: 30%;
    margin: 0 auto;
}

.otherpages_pay {
   /* margin: 50px 25px !important;*/
}

.formcolumn {
    margin: 0 auto;
    max-width: 600px;
    background: #4d5862;
    width: 100% !important;
    /*padding-top: 100px !important;*/
    margin-bottom: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.35);
    -o-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.35);
}

.formcolumn_l {
    background: #4d5862;
    width: 85% !important;
    -webkit-box-shadow: 0 1px 6px rgba(57,73,76,0.35);
    box-shadow: 0 1px 6px rgba(57,73,76,0.35);
    min-height: 800px;
    padding-top: 100px;
    position: absolute;
    right: 0;
}

.ahead_content_l {
    height: 100%;
}

.l_val_a, .l_val_cn {
    color: white;
    /* padding: 10px 20px; */
    /* background: white; */
    font-size: 0.7em;
    font-size: 15pt;
}

.l_btn {
    padding: 15px 30px;
    background: rgb(32, 102, 155);
    border: none;
    margin-right: 16px;
    color: white;
    margin-bottom: 15px;
}

.l_val {
    font-weight: bold;
    font-size: 13pt;
    margin-left: 10px;
}


.bk_hst_tbl {
    background: inherit !important;
    color: white !important;
}

.bk_th {
    background: #1da6e0 !important;
    border-top: none !important;
    color: #4d5862 !important;
    text-align: center !important;
}

.img_o {
    margin-left: 40px;
}

.nav_o {
   /* margin-right: 32px;*/
}

.inpt {
    padding-left: 12px !important;
}

.ui.teal.button {
    /*background-color: #1da6e0 !important;
    color: white !important;
    border: 1px solid white;*/
}

.aboutpage {
    margin-top: 0 !important;
    background-size: cover !important;
}

.about {
    margin: 0 !important;
}

.act_title {
    font-size: 30pt;
    color: #20669b;
    line-height: 1;
}

.act_text {
    color: #4d5862;
    font-size: 15pt;
}

.info_text {
    color: #4d5862;
    font-size: 15pt;
}

.ui.dimmer {
    background-color: rgb(77, 88, 98) !important;
    /*height: 30% !important;*/
}

.ui.loader {
    font-size: 8em !important;
    top: 40% !important;
}

.ui[class*="left icon"].input > input {
    padding-left: 15px !important;
}

.generalloader:after {
    animation: generalloader 1.2s linear infinite;
}

.loginloader:after {
    animation: loginloader 1.2s linear infinite;
}

.forgotloader:after {
    animation: forgotloader 1.2s linear infinite;
}

.paymentloader:after {
    animation: paymentloader 1.2s linear infinite;
}

.bookingloader:after {
    animation: bookingloader 1.2s linear infinite;
}

.generalloader {
    display: inline-block;
    width: 64px;
    height: 64px;
    position: absolute;
    top: calc(20%);
    z-index: 434343434334983948348394;
    left: calc(40%);
    display: none;
}

.generalloader:after {
    content: " ";
    display: block;
    width: 80px;
    height: 80px;
    margin: 1px;
    border-radius: 50%;
    border: 4px solid #8e8e8e;
    border-color: #4d5862 transparent #4d5862 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

.choice_loader:after {
    content: " ";
    display: block;
    width: 40px;
    height: 40px;
    margin: 1px;
    border-radius: 50%;
    border: 4px solid #8e8e8e;
    border-color: #8e8e8e transparent #8e8e8e transparent !important;
    animation: choice_loader 1.2s linear infinite;
}

.lds-dual-ring:after, .loginloader:after, .bookingloader:after, .paymentloader:after, .forgotloader:after {
    content: " ";
    display: block;
    width: 40px;
    height: 40px;
    margin: 1px;
    border-radius: 50%;
    border: 4px solid #8e8e8e;
    border-color: white transparent white transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

.choice_loader:after {
    content: " ";
    display: block;
    width: 40px;
    height: 40px;
    margin: 1px;
    border-radius: 50%;
    border: 4px solid #8e8e8e;
    border-color: #8e8e8e transparent #8e8e8e transparent !important;
}

.lds-dual-ring {
    display: inline-block;
    width: 64px;
    height: 64px;
    position: absolute;
    top: 88%;
    right: 43%;
    display: none;
}

.forgotloader {
    display: inline-block;
    width: 64px;
    height: 64px;
    position: absolute;
    top: 54%;
    right: 43%;
    display: none;
}

.bk_history {
    transform: skewY(0)!important;
}

#verified, #notverified {
    width: 100%;
}

.loginloader {
    display: inline-block;
    width: 64px;
    height: 64px;
    position: absolute;
    top: 67%;
    right: 43%;
    display: none;
}

.bookingloader {
    display: inline-block;
    width: 64px;
    height: 64px;
    position: absolute;
    top: 75%;
    right: 43%;
    display: none;
}

.paymentloader {
    display: inline-block;
    width: 64px;
    height: 64px;
    position: absolute;
    top: 71%;
    right: 43%;
    display: none;
}

.choice_loader {
    display: inline-block;
    width: 64px;
    height: 64px;
    position: absolute;
    top: 100%;
    right: 43%;
    display: none;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes loginloader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes forgotloader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes bookingloader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes paymentloader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes choice_loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.paytitle {
    text-align: center;
}

.ui.tiny.modal.transition.visible.active.scrolling {
    background: none !important;
}

.modalinput {
    width: 100%
}

.modalfield {
    padding: 10px 0;
    text-align: center;
}

.modal {
    position: fixed;
    top: 14% !important;
    text-align: center !important;
    /* left: 0 !important; */
    height: 450px !important;
    margin: 0 auto !important;
}

.modal-backdrop {
    position: fixed;
    /* top: 0; */
    /* right: 0; */
    /* bottom: 0; */
    /* left: 0; */
    /* z-index: 1040; */
     background: none !important;
    z-index: 0 !important;
}

.incr_code {
    text-align: center;
    /*max-width: 600px;*/
     background: white;
    /* width: 100% !important; */
    -webkit-box-shadow: 0 1px 6px rgba(57,73,76,0.35);
    box-shadow: 0 1px 6px rgba(57,73,76,0.35);
    /* padding-top: 100px !important; */
    margin-bottom: 30px;
}

.paymentsuccess {
    font-size: 20pt;
    color: rgb(33, 186, 69);
    text-align: center;
    padding: 20pt 0;
}

.paymentsuccess a {
    color: rgb(33, 186, 69);
}

.oninst, .bktrans, .usd {
    padding: 10px 0;
}

.ui.message {
    color: black !important;
    /*background: #4d5862 !important;*/
    border: 1px solid rgb(77, 88, 98);
    margin-right: 35px !important;
    margin-left: 35px !important;
    margin-top: 0 !important;
}

.logo_text {
    padding: 40px;
    color: white;
    font-size: 25pt;
    line-height: 1.5;
    text-align: center;
}

.img_logo {
    text-align: left !important;
    height: 50px;
    width: 100px;
}

.img_logo img {
    height: 32px;
   /* margin-top: 14px;*/
}

#text_cont {
    display: block;
}

.bigbutton {
    background-color: #4d5862;
    border: 1px solid #4d5862;
    color: white;
    min-width: 200px;
    padding: 20px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.centerbutton {
    /*margin-top: -250px;*/
    text-align: center;
}

.ast {
    font-size: 20pt;
    color: red;
    margin: 11px 5px;
}

.sel_field {
    display: flex;
}

.si_btn {
    padding-right: 20px;
}

#contact_sect {
    background: rgb(77, 88, 98);
    margin-top: 6%;
}

.menu_button {
    margin-left: 40%;
}

button.massive.ui.button {
    background: none !important;
    color: rgb(77, 88, 98) !important;
    font-weight: normal;
    padding: 13px 0 20px 10px !important;
    font-size: 15pt;
}

.ct_logo {
    display: flex;
}

.sid_ba {
    padding: 20px !important;
    /*color: white !important;*/
    border-bottom: 1px solid lightgrey;
    margin: 0 10px !important;
}

.a_link {
    padding: 15px;
    border-bottom: 1px solid lightgrey;
    margin-left: 15px;
    margin-right: 15px;
    color: #fff !important;
    font-size: 10pt;
}

.a_l {
    border-bottom: none !important;
}

.c_number {
    text-align: center;
}

.a_cc_title {
    padding: 20px;
    font-size: 10pt;
    font-weight: normal;
    cursor: pointer;
    color: #fff !important;
}

.item.title.sid_ba.active {
    background: rgba(255,255,255,.15)!important;
    color: #4d5862 !important;
}

div#db, div#dp, div#dc, div#ds {
    color: #fff !important;
}

.ui.inverted.menu .active.item {
    background: rgba(255,255,255,.15);
    color: #4d5862 !important;
}

.part_one, .part_two {
    padding: 0 20px 0;
    display: flex;
    justify-content: center;
}

.half_one, .half_two {
    width: 50%;
    margin: 0 auto;
}

.lndg_fullname {
    font-size: 22pt;
    margin: 0 0 25px;
    color: white;
}

.t_bal, .c_bal {
    color: white;
    padding: 20px 10px;
    font-weight: 900;
    line-height: 1.3;
    background: #1da6e0;
    /* border-radius: 5px; */
    font-size: 1.6em;
    width: 41.5%;
    margin: 25px 10px 0 0;
}

.bk_th_head {
    background: white;
}

.t_balb, .c_balb {
    border: 2px solid #1da6e0;
    color: white;
    padding: 25px 10px;
    font-weight: 900;
    line-height: 1.3;
    background: #1da6e0;
    /* border-radius: 5px; */
    font-size: 1.6em;
    width: 100%;
    margin: 0 10px 0 0;
}

.top_card {
    padding: 20px 3px;
    background: white;
    margin-top: 10px;
    /* justify-content: center; */
    /* margin: 0 auto; */
    max-width: 400px;
    width: 15%;
    margin: 0 auto;
}

.mon_text {
    color: #4d5862;
}

.blances {
    display: flex;
    margin-top: 15px;
}

.blance {
    display: flex;
    width: 50%;
}

.half_two {
    /*border: 2px solid rgb(32, 102, 155);*/
    color: rgb(32, 102, 155);;
    padding: 20px 20px;
    background: white;
    /*border-radius: 5px;*/
    font-size: 0.7em;
    margin: -2px;
}

.lndg_ct_number {

}

.bg\% {
    font-size: 130pt;
    line-height: 1.5;
    font-family: fantasy;
}

.bg_brk {
    display: flex;
}

.brk_cont {
    width: 50%;
    margin: 45px 10px;
    line-height: 1.3;
}

.formpage {
    background: #4d5862;
    /*min-height: 800px;*/
    padding-top: 100px !important;
    padding-bottom: 150px !important;
}

.owner {
    padding: 20px 14px;
    text-align: left;
}

.owner_p {
    /*padding: 20px;*/
    text-align: left;
    margin: 0 70px 0 0;
}

.bookingpage {
    display: block !important;
    width: 100%;
    background: #4d5862 !important;
    padding: 50px 0 100px 0 !important;
   /* padding-top: 40px !important;*/
}

.bookinghistorypage, .paymenthistorypage, .transactionhistorypage, .landingpage, .paymentpage {
    background-image: linear-gradient(to top left, #91bacb, #ffffff);
    width: 85%;
    min-height: 1024px;
    position: absolute;
    right: 0;
    /*padding: 150px 50px;*/
}

.booking_one, .booking_two {
    /*width: 50%;
    margin: 0 auto;
     flex-basis: 50%; 
    text-align: center;*/
}

.ui.grid>* {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.enj {
    width: 70%;
    margin: 0 auto;
    line-height: 1.5;
    background: white;
    color: rgb(32, 102, 155);
    padding: 30px 20px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.35);
}

.enj_big, .enj_mid, .enj_lst {
    font-size: 50pt;
}

.enj_aft {
    line-height: 3;
}

.no_bk {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 40px;
}

.hist_title {
    border: 1px solid #1da6e0;
    width: 100%;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
    background: #1da6e0;
    font-size: 18pt;
}

.half_two_2 {
    margin: 0 auto;
    width: 50%;
    justify-content: center;
    padding-bottom: 100px;
}

.half_one_2 {
    width: 50%;
}

.bal {
    background: white;
    color: #4d5862;
    border: 2px solid #1da6e0;
    padding: 20px;
    box-sizing: border-box;
    text-align: left;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.35);
}

.pay_ment {
    display: flex;
    margin: 0 auto;
    background: #4d5862;
    justify-content: center;
}

.col_form {
    margin: 0 auto;
    max-width: 800px;
    background: white;
    width: 100% !important;
    /* padding-top: 100px !important; */
    margin-bottom: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    /* box-sizing: border-box; */
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.35);
    -o-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.35);
}

.col_formp {
    margin: 0 auto;
    max-width: 1000px;
    background: white;
    width: 100% !important;
    /* padding-top: 100px !important; */
    margin-bottom: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    /* box-sizing: border-box; */
}

.formcolumn_b {
    margin: 0 auto;
    /*max-width: 800px;*/
    background: #4d5862;
    width: 100% !important;
    /* padding-top: 100px !important; */
    margin-bottom: 30px;
    -webkit-box-sizing: border-box;
}

#btn_b {
    text-align: center !important;
    justify-content: center;
    width: 100%;
    padding: 0 !important;

}

.formcolumn_p {
    margin: 0 auto;
    max-width: 600px;
    background: #4d5862;
    width: 100% !important;
    /* padding-top: 100px !important; */
    /* margin-bottom: 30px; */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.inst_val, .bank_val {
    /*padding: 0 15px;*/
    width: 50%;
    background: white;
}

.inst_val {
    margin-right: 50px;
}

.titles {
    display: flex;
    width: 1000px;
    margin: 0 auto;
}

.in_val, .us_val {
    /*display: flex;
    border-bottom: 1px solid lightgrey;*/
}

.bk_val {
    /*display: flex;
    text-align: left;*/
}

.in {
    padding: 0 10px;
}

.cent {
    /*margin: 100px 0;*/
    font-size: 12pt;
}

.bx {
   /* margin: 20px 0;*/
}

.mod_h.header {
    color: white !important;
    margin-bottom: 8px;
}

.cent_u {
    /*margin: 50px 0;*/
    font-size: 12pt;
}

.mr img {
    height: 50px;
    width: 50px;
    margin: 20px;
}

.morning, .even_route, .evening, .morn_route {
    display: flex;
}

/*.morn_route, .even_route {
    text-align: center;
    margin: 0 auto;
}*/

.morning, .evening {
    padding: 25px 0;
}

.morn {
    transform: rotate(-90deg);
}

.half_two_2_header {
    font-size: 20pt;
    color: #1da6e0;
    text-align: right;
}

.half_one_2_header {
    font-size: 20pt;
    color: #1da6e0;
}

li#item1548456588046-1 {
    width: 300px !important;
}

.mr {
    padding: 0px 18px;
    text-align: center;
    font-size: 11pt;
    margin: 0px 7px !important;
}

.mr_morn {
    border-bottom: 2px solid lightgrey;
    font-size: 18pt;
    padding: 10px 0;
}

.bg_icon img {
    width: 40px;
    height: 40px;
}

.bg_icon {
    margin: 0 10px 0 0;
    background: rgb(32, 102, 155);
    padding: 2px 2px;
}

.bg_icons {
    display: flex;
    margin: 15px 0;
}

.notfoundtext {
    text-align: center;
}

.bottomright {
    text-align: right;
    padding: 0 60px;
    position: absolute;
    right: 0;
}

.signuppage, .loginpage, .forgotpasswordpage, .resetpage {
    background-image: linear-gradient(to top left, #022f50, #8cc8f2);
}

.forgotpasswordpage, .resetpage {
    height: 100%;
}

#signup, #login {
    margin: 200px 0;
    max-width: 700px;
    padding: 20px 50px !important;
    /*background: white;*/
    width: 100% !important;
    /* padding-top: 100px !important; */
   /* margin-bottom: 30px;*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.staticsidebar {
    padding: 80px 0;
    background-image: linear-gradient(to top, #2b4154, #5e738a) !important;
    color: #fff !important;
    width: 15% !important;
}

#categories{
    position: fixed;
    top: 79px;
    width: 10%;
    height: 0px;
    background: rgb(77, 88, 98);
    /* right: 20px; */
    z-index: 1000000;
    border-radius: 2px;
    padding: 15px 0px 0px 0px;
    opacity: 0;
    left: calc(10%);
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
}

.closecategories{
    position: absolute;
    top: 9px;
    right: 16px;
    text-decoration: none;
    color: gray;
    font-size: 21px;
    cursor: pointer;
}

#edit_options {
    position: fixed;
    top: 21%;
    width: 10%;
    height: 0px;
    background: white;
    text-align: left;
    /* right: 20px; */
    color: rgb(77, 88, 98);
    z-index: 1000000;
    border-radius: 2px;
    padding: 15px 0px 0px 0px;
    opacity: 0;
    left: calc(50%);
    overflow-y: hidden;
    overflow-x: hidden;
    display: flex;
}

.closeoptions {
    position: absolute;
    top: 9px;
    right: 16px;
    text-decoration: none;
    color: gray;
    font-size: 21px;
    cursor: pointer;
}

#edit_choice {
    position: fixed;
    top: 50%;
    width: 10%;
    height: 0px;
    background: white;
    text-align: left;
    /* right: 20px; */
    color: rgb(77, 88, 98);
    z-index: 1000000;
    border-radius: 2px;
    padding: 15px 0px 0px 0px;
    opacity: 0;
    left: calc(50%);
    overflow-y: hidden;
    overflow-x: hidden;
    display: flex;
}

#mode_period {
    position: fixed;
    top: 30%;
    width: 10%;
    height: 0px;
    background: white;
    text-align: left;
    /* right: 20px; */
    color: rgb(77, 88, 98);
    z-index: 1000000;
    border-radius: 2px;
    padding: 15px 0px 0px 0px;
    opacity: 0;
    left: calc(45%);
    overflow-y: hidden;
    overflow-x: hidden;
    display: flex;
    z-index: 44845433;
}

.closechoice {
    position: absolute;
    top: 9px;
    right: 16px;
    text-decoration: none;
    color: gray;
    font-size: 21px;
    cursor: pointer;
}

.closemodeperiod {
    position: absolute;
    top: 9px;
    right: 16px;
    text-decoration: none;
    color: gray;
    font-size: 21px;
    cursor: pointer;
}

.b_cat_body {
    margin: 0 10px;
}

.cancel_btn, .bK_cancel {
    color: red !important
}

.cancel_btn {
    background: none;
    border: none;
}

#edit-button {
    color: rgb(77, 88, 98) !important;
}

.supporttitle {
    text-align: center;
    color: white;
    font-size: 20pt;
    margin: 0 0 30px 0;
}

.cat_body {
    margin: 0 auto;
}

.a_l {
    color: white;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #aaa;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #999;
}

.ic {
    font-size: 2.5em !important;
}

.part_two {
    margin-top: 20px;
}

.ic {
    padding: 0 !important;
    margin: 0 !important;
    line-height: 1 !important;
}

.directions-card.directions-card-medium-large {
    display: none !important;
    visibility: hidden;
}

.b_ing {
    display: flex;
    padding: 10px 14px;
    justify-content: center;
}

.b_ing_p {
    padding: 10px 14px;
}

.cardmodal {
    display: block !important;
}


.payment_stuff {
    margin: 0 auto !important;
    width: 100% !important;
    padding-right: 25px !important;
    padding-left: 25px !important;
    padding-top: 25px !important;
    margin-right: -4px !important;
}

.submit_stuff {
    background: #1da6e0 !important;
    color: white !important;
}

.cancel_stuff {
    background: #4d5862 !important;
    color: white !important;
}

.checkout__container {
    max-width: 800px !important;
}

.payment_td {
    background: white;
    color: black;
    text-align: center !important;
}

#how_it_works {
    background: #4d5862;
}

/*.how_tabs {
    margin: 0 100px;
}*/

.how_tabs_one {
    margin: 0 10px 0 0;
}

.how_title {
    font-size: 35pt;
}

.how_tabs_title {
    font-size: 25pt;
    line-height: 1.3;
}

.how_btn_div {
    position: absolute;
    bottom: 15%;
    right: 35%;
    width: 50%;
    text-align: right;
}

.how_btn {
    padding: 30px 50px;
    color: #fff;
    background: #4d5862;
    width: 50%;
    border: 2px solid #1da6e0;
}

#email_confirmation {
    margin: 0 auto;
    max-width: 800px;
    background: #fff;
    width: 100% !important;
    /* padding-top: 100px !important; */
    margin-bottom: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.notfoundpage {
    background: #4d5862;
    width: 100% !important;
    -webkit-box-shadow: 0 1px 6px rgba(57,73,76,0.35);
    box-shadow: 0 1px 6px rgba(57,73,76,0.35);
    min-height: 800px;
    padding-top: 100px;
    position: absolute;
    right: 0;
}

.successful_payment, .failed_payment {
    display: block;
    width: 91%;
    margin: 0 auto;
}

#contactus, #booktrip, #pendingtrip {
    position: fixed;
    top: 13%;
    width: 40%;
    height: 0px;
    background: white;
    /*right: 20px;*/
    z-index: 1000000;
    border-radius: 2px;
    padding: 15px 16px 3px 20px;
    opacity: 0;
    left: calc(30%);
    /*overflow-y: scroll;*/
    overflow-x: hidden;
    display: flex;
}

#pendingtrip {
    color: #4d5862;
}

.trip_note {
    font-size: larger;
    line-height: 1.5;
    font-weight: 800;
}

.trip_det {
    font-weight: 800;
}

.closecontactus, .closebooktrip, .closependingtrip{
    position: absolute;
    top: 9px;
    right: 16px;
    text-decoration: none;
    color: gray;
    font-size: 21px;
}

.user_register {
    width: 100%;
}

.popup_title {
    color: #4d5862;
    width: 100%;
    text-align: center;
}

.sidebar_logo {
    position: absolute;
    bottom: 13%;
    left: 12%;
}

.layerone {
    padding-bottom: 40px;
}
.layerone, .layertwo {
    display: flex;
}

.layerone_btn {
    width: 50%;
}

.cnts_btn {
    text-align: right;
}

.layertwo_half_one, .layertwo_half_two {
    width: 50%;
    display: flex;
    padding: 10px 0;
}

.layertwo_half_one {
    border-right: 1px solid #4d5862;
}

.layertwo_half_two {
    text-align: right;
}

.layertwo_btn, .layertwo_half_btn, .layertwo_btn_last {
    width: calc(100%/3);
}

.layertwo_first_btn {
    width: 30%;
}

.layertwo_btn a, .layertwo_first_btn a {
    border: 1px solid #4d5862;
    padding: 5% 10%;
    cursor: pointer;
    color: #4d5862 !important;
}

 .cnts_btn a {
    padding: 2% 4%;
    border: 1px solid #4d5862;
    color: #4d5862 !important;
    cursor: pointer;
 }

.layertwo_half_btn a {
    border-bottom: 1px solid #4d5862;
    padding: 5% 20%;
    color: #4d5862 !important;
    cursor: pointer;
}

.new_a {
    padding: 2% 7%;
    border: 1px solid #4d5862;
    color: #4d5862 !important;
    cursor: pointer;
}

/*.layertwo_half_btn input {
    border-bottom: 1px solid #4d5862;
    padding: 5% 20%;
    color: #4d5862 !important;
    cursor: pointer;
}*/

.layertwo_btn_last a {
    border: 1px solid #4d5862;
    padding: 5% 18%;
    color: #4d5862 !important;
    cursor: pointer;
}

.demarcator {
    border-bottom: .5px solid #999b9d;
    /* height: 48px; */
    /* width: 78%; */
    margin: 0 70px;
}

.l_parttwo {
    color: #4d5862;
    font-size: medium;
    font-weight: 900;
}

.pymt_btn a {
    color: #4d5862 !important;
    font-size: 22pt;
    cursor: pointer;
}

.history {
    display: flex;
    color: #4d5862;
    padding: 0 25px;
    border-left: 3px solid #f5f4f4;
}

.history_right {
    width: 35%;
    text-align: right;
    padding: 30px 0;
}

.history_left {
    width: 65%;
    text-align: left;
    display: flex;
    padding: 30px 0;
}

.t_history_left {
    width: 75%;
    text-align: left;
    display: flex;
    padding: 30px 0;
}

.t_history_right {
    width: 25%;
    text-align: right;
    padding: 30px 0;
}

.pymt_type, .pymt_date, .pymt_amount {
    width: calc(100%/3);
}

.t_pymt_typpe {
    width: 40% !important;
}

.t_pymt_type, .t_pymt_date, .t_pymt_amount, .t_pymt_typpe {
    width: calc(100%/4);
}

.t_pymt_total {
    color: #0cc30c;
}

.layers {
   padding: 100px 50px 50px;
}

.b_layers, .l_layers {
    padding: 120px 25px 30px;
}

.l_parttwo_title {
    display: flex;
    font-size: 18pt;
}

.l_arr_l {
    margin-top: -3px;
    padding: 0 0 0 20px !important;
}

.l_arr_r {
    margin-top: -3px;
    padding: 0 20px 0 0 !important;
}

.l_parttwo_body {
    padding: 0 30px;
    display: flex;
}

.l_parttwo_one {
    padding: 0 30px;
    width: 50%;
   /* border-right: 1px solid #f5f4f4;*/
}

.demarcator_l_parttwo {
    border-right: 1px solid #4d5862;
}

.cardnumber_l {
    color: #4d5862 !important;
    font-size: medium;
}

.first {
    background: #f5f4f4;
}

.other {
    background: #d4d3d363;
}

.layerone_two {
    width: 50%;
    display: flex;
}

.fgt_p {
    margin-left: -67px;
    color: white;
    margin-top: 13px;
    cursor: pointer;
}

.amt_plus {
    display: flex !important;
}

.plus_amt {
    width: 50%;
    font-size: x-large;
    text-align: right;
    line-height: 0.5;
}

.amt {
    width: 100%;
}

.ui.menu .item {
    position: inherit !important;
}

.b_history_right {
    width: 10%;
    text-align: right;
    padding: 30px 0;
}

.b_history_left {
    width: 90%;
    display: flex;
    /*text-align: right;
    padding: 30px 0;*/
}

.b_circle, .b_start, .b_start_ic, .b_stop, .b_stop_ic, .b_date, .b_amount, .b_time {
    width: calc(100%/8);
    padding: 30px 0;
}

i.icon.circle:before {
    content: "\f111";
    /*color: forestgreen;*/
    font-size: 1vh;
}

i.icon.circle:before {
    content: "\f111";
    font-size: 1vh !important;
    width: 2%;
}

.sort.down.icon {
    cursor: pointer;
}

.choicefields {
    margin: 10px 8px 0 !important;
}

.bk_arrow_one, .bk_arrow_two {
    font-size: 30pt;
    padding: 0 5px;
}

.booking_history_right {
    width: 15%;
    text-align: right;
    padding: 30px 0;
}

.booking_history_left {
    width: 85%;
    text-align: left;
    display: flex;
    padding: 30px 0;
}

.booking_from, .arrows, .booking_to, .booking_date, .booking_amount, .booking_time, .booking_circle {
    width: calc(100%/7);
}

.arrows {
    display: flex;
    margin-top: -5px;
}

.booking_circle {
    color: forestgreen;
    font-size: 20pt;
}

.booking_option {
    cursor: pointer;
}

.bK_none {
    color: #4d5862;
}

.trn_route, .trn_mode, .trn_cost, .trn_date {
    width: calc(100%/4);
}

.confirmed {
    color: forestgreen;
}

.booked_top, .booked_below {
    display: flex;
}

.l_parttwo_two {
    position: absolute;
    right: 15%;
    font-weight: 500;
}

.booked, .deposit {
    padding: 0 25px 0 0;
    border-right: 1px solid;
    width: 50%;
}

.booked {
    border-bottom: 1px solid;
    /*margin-left: 14px;*/
}

.taken {
    padding: 0 0 0 25px;
    width: 50%;
}

.tps_taken {
    border-bottom: 1px solid;
}

.num_taken {
    width: max-content;
}

.num_booked, .num_taken {
    font-size: 15pt;
    font-weight: 900;
}

.b_rt {
    font-weight: 500;
}

.l_btns {
    display: flex;
    width: 100%;
    padding: 50px;
}

.bk_trip_btn {
    width: 50%;
    padding: 0 25px 0 0;
}

.fd_card_btn {
    width: 50%;
    padding: 0 0 0 25px;
}

.trip_sch_info {
    color: #4d5862;
    display: flex;
    padding: 0 50px;
}

.caveat {
    color: #4d5862;
    text-align: center;
    padding: 20px;
}

.trip_info {
    width: 50%;
    padding: 0 0 0 25px;
}

.trip_sch {
    width: 50%;
}

.trip_days {
    display: flex;
}

.starts, .boarding, .boarding_time, .trip_starts {
    display: flex;
    padding: 3px 0;
}

.trip-sch_title {
    font-size: 18pt;
}

.starts_title, .boarding_title {
    width: 20%;
    font-size: large;
}

.boarding_time, .trip_starts {
    width: 80%;
}

.bd_time.day {
    width: 15%;
    font-weight: 100;
}

.trip_days {
    margin-left: 20%;
}

.day {
    width: 15%;
    font-weight: 700;
}

.landingpage {
    padding: 0 0 150px 0;
}

.info {
    padding: 5px;
}

.demarcator_starts {
    border-bottom: 1px solid;
    width: 54%;
    margin-left: 20%;
}

.demarcator_sch_info {
    border-right: 1px solid;
}

.link_other {
    cursor: pointer;
}

.m_button {
    width: 100%;
    background: #4d5862;
    color: white;
    border: none;
}

.mode_p {
    width: 100%;
    padding: 0 10px;
}

.mode_period_body {
    width: 100%;
    padding: 5px 0;
}