<div class="ui visible sidebar inverted vertical menu staticsidebar for_desk">

    <div class="row"><div class="column">&nbsp;</div></div>

    <div class="ui accordion">

        <div class="row"><div class="column">&nbsp;</div></div>

        <div style="text-align: center;">
            <img src="../../assets/img/placeholder.png" style="height: 50px; border-radius: 50%;">
            <div class="row"><div class="column">&nbsp;</div></div>

            <div class="item a_cc_title" ng-bind="name">  
            </div>

            <div class="row"><div class="column">&nbsp;</div></div>

            <div>
                <span class="" ng-bind="role"></span>
            </div>

            <div class="row"><div class="column">&nbsp;</div></div>

            <div ng-if="role === 'Super User'" class="transferrole">
                <span ng-click="transferRole()">Transfer Role</span>
            </div>

            <div class="row"><div class="column">&nbsp;</div></div>

            <div class="transferrole">
                <span ng-click="enableUserCard()">Enable Card</span>
            </div>

            <div class="row"><div class="column">&nbsp;</div></div>

            <div class="transferrole">
                <span ng-click="disableUserCard()">Disable Card</span>
            </div>
            
        </div>
        <div class="row"><div class="column">&nbsp;</div></div>

        <div class="sidebar_logo">
            <a class="" ui-sref="home">
                <img src="../../assets/img/logos/ctlogowhite.png" class=""  style="height: 25px;">
            </a>
        </div>
    </div>
</div>

<div class="">

    <nav id="navbar" class="navbar navbar-expand-lg sticky-top navother" style="height: 75px !important;">
        <div class="">
            <a class="" ui-sref="home">
                Admin Dashboard
            </a>
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" >
            <span class="navbar-toggler-icon" ng-click="showSideBar()"></span>
        </button>
        
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto nav_o">
                <li>
                    Role: <span class="rol" ng-bind="role"></span><img src="../../assets/img/placeholder.png" style="height: 50px; border-radius: 50%;">
                </li>
            </ul>
        </div>
    </nav>

    <ui-view>
        <div ng-controller="AdminController" class="adminpage">
            <div class="ui active dimmer">
                <div class="ui loader"></div>
            </div>

            <div class="generalloader"></div>

            <div class="landingloader"></div>

            <div class="l_layers">
                <div class="layerone">
                    <div class="layerone_btn pymt_btn">
                        <a class="">Welcome, <span ng-bind="name"></span></a>.
                    </div>

                    <div class="layerone_btn cnts_btn">
                        <a class="new_a" ng-click="adminLogOut()">Log Out</a>
                    </div>
                </div>
            </div>

            <div class="gen_stats">
                <div class="gen_stat">
                    <div class="stat_icon">
                        <i class="users icon"></i>
                    </div>
                    <div class="stat_stats">
                        <div class="stat_num">
                            <span ng-bind="numusers"></span>
                        </div>
                        <div class="stat_stat">
                            Users
                        </div>
                    </div>
                </div>

                <div class="gen_stat">
                    <div class="stat_icon">
                        <i class="list alternate outline icon"></i>
                    </div>
                    <div class="stat_stats">
                        <div class="stat_num">
                            <span ng-bind="numbookings"></span>
                        </div>
                        <div class="stat_stat">
                            Bookings
                        </div>
                    </div>
                </div>

                <div class="gen_stat">
                    <div class="stat_icon">
                        <i class="money bill alternate outline icon"></i>
                    </div>
                    <div class="stat_stats">
                        <div class="stat_num">
                            N<span ng-bind="numearned"></span>
                        </div>
                        <div class="stat_stat">
                            Earned
                        </div>
                    </div>
                </div>

                <div class="gen_stat">
                    <div class="stat_icon">
                        <i class="bus icon"></i>
                    </div>
                    <div class="stat_stats">
                        <div class="stat_num">
                            <span ng-bind="numtrips"></span>
                        </div>
                        <div class="stat_stat">
                            Trips
                        </div>
                    </div>
                </div>
            </div>

            <div class="row"><div class="column">&nbsp;</div></div>
            <div class="row"><div class="column">&nbsp;</div></div>

            <div class="cont_users">
                <div class="complaints">
                    <div class="c_tab">
                        <i class="comments outline icon" data-content="Click on the email addresses to reply."></i> Complaints
                    </div>

                    <div class="c_body">
                        <div class="complaint cmpt" ng-repeat="message in messages">
                            <div class="comp_bod"  ng-click="replyMessage(message._id, message.status)">
                                <div class="sender">
                                    <i class="envelope icon"></i> <span ng-bind="message.email"></span>
                                </div>
                                <div class="comp_status">
                                    <span ng-bind="message.status"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row"><div class="column">&nbsp;</div></div>
                    <div class="rou addroute" ng-click="showAddRouteForm()">Add Route</div>
                </div>

                <div class="users">

                    <div class="users_tab">
                        <div class="users_ic">
                            <i class="users icon"></i>  Users
                        </div>
                        
                        <div class="add_user" ng-click="checkSuper('add')">
                            <i class="user plus icon"></i> Add User
                        </div>
                    </div>

                    <div class="users_list">
                        <div class="user_det" ng-repeat="admin in admins" ng-click="checkSuper('delete', admin.id)">
                            <div class="user_username">
                                <i class="user icon"></i>  <span ng-bind="admin.username"></span>
                            </div>

                            <div class="user_role">
                                <span ng-bind="admin.role"></span>
                            </div>

                            <div class="user_id">
                                <span ng-bind="admin.id"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row"><div class="column">&nbsp;</div></div>
                    <div class="rou addroute" ng-click="showChangeFareForm()">Change Fare</div>
                </div>
            </div>

            <div class="row"><div class="column">&nbsp;</div></div>

            <div class="cont_users">
                <div class="complaints com_regions byreg">
                    <div class="c_tab">
                        <i class="fas fa-walking"></i> Commuters by region
                    </div>

                    <div class="c_body">
                        <div class="complaint_bod" ng-repeat="region in regionscount">
                            <div class="sender">
                                <i class="location arrow icon"></i> <span ng-bind="region.region"></span>
                            </div>
                            <div class="comp_status">
                                <span ng-bind="region.regioncount"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="complaints com_regions">
                    <div class="c_tab">
                        <i class="fas fa-walking"></i> Commuters by route
                    </div>

                    <div class="c_body">
                        <div class="complaint_bod" ng-repeat="route in routescount">
                            <div class="sender">
                                <i class="fas fa-route"></i> <span ng-bind="route.route"></span>
                            </div>
                            <div class="comp_status">
                                <span ng-bind="route.routecount"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="verifysuper" class="">
                <a class="closeverifysuper" ng-click="closeVerifySuper()">x</a>

                <div class="mode_p">
                    <div class="mode_period_body">
                        <div>
                            Are you a super user? Enter your password.
                        </div>
                        <div class="row"><div class="column">&nbsp;</div></div>

                        <div style="text-align: center;">
                            <input type="password" ng-model="superpassword" id="superpassword" name="superpassword" placeholder="Password" style="padding-left: 15px !important;">
                        </div>   
                        <div class="row"><div class="column">&nbsp;</div></div>

                        <button class="ui fluid large teal submit button log_in_btn" id="login_button" ng-click="verifySuper()" ng-disabled="loginclicked">Submit</button>         
                    </div>
                </div>
            </div>

            <div id="verifydelete" class="">
                <a class="closeverifydelete" ng-click="closeVerifySuper()">x</a>

                <div class="mode_p">
                    <div class="mode_period_body">
                        <div>
                            Delete <span ng-bind="targetadmin.username"></span>?
                        </div>
                        <div class="row"><div class="column">&nbsp;</div></div>

                        <div style="text-align: center;">
                            <input type="text" ng-model="deletehoice" id="deletehoice" name="deletehoice" placeholder="Type 'YES' or 'NO'" style="padding-left: 15px !important;">
                        </div>   
                        <div class="row"><div class="column">&nbsp;</div></div>

                        <button class="ui fluid large teal submit button log_in_btn" id="login_button" ng-click="deleteUser(targetadmin.id)" ng-disabled="loginclicked">Submit</button>         
                    </div>
                </div>
            </div>

            <div id="replycomplaint" class="">
                <a class="closereplycomplaint" ng-click="closeReplyComplaint()">x</a>

                <div class="mode_p">
                    <div class="mode_period_body">
                        <div class="row"><div class="column">&nbsp;</div></div>

                        <div style="text-align: center;">
                            <textarea placeholder="Message" rows="7" name="replytext" id="replytext" ng-model="replytext" cols="40" class="ui-autocomplete-input" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true" style="padding-left: 15px !important;"></textarea>
                        </div>   
                        <div class="row"><div class="column">&nbsp;</div></div>

                        <button class="ui fluid large teal submit button log_in_btn" id="login_button" ng-click="replyComplaint()" ng-disabled="loginclicked">Submit</button>         
                    </div>
                </div>
            </div>

            <div id="message" class="">
                <a class="closemessage" ng-click="closeMessage()">x</a>

                <div class="mode_p">
                    <div class="mode_period_body">
                        <div class="row"><div class="column">&nbsp;</div></div>

                        <div class="mes_head">
                            Sender: <span class="mes_body" ng-bind="targetcomplaint.email"></span>
                        </div>

                        <div class="row"><div class="column">&nbsp;</div></div>

                        <div class="mes_head">
                            Subject: <span class="mes_body" ng-bind="targetcomplaint.subject"></span>
                        </div>
                        <div class="row"><div class="column">&nbsp;</div></div>

                        <div class="mes_head">
                            Date: <span class="mes_body" ng-bind="targetcomplaint.createdon.split('T')[0]"></span>
                        </div>
                        <div class="row"><div class="column">&nbsp;</div></div>

                        <div  class="mes_head" style="height: 120px;">
                            Message: <span class="mes_body" ng-bind="targetcomplaint.complaint"></span>
                        </div>
  
                        <div class="row"><div class="column">&nbsp;</div></div>

                        <button class="ui fluid large teal submit button log_in_btn" id="login_button" ng-click="reply(targetcomplaint._id)" ng-disabled="loginclicked">Reply</button>         
                    </div>
                </div>
            </div>

            <div id="repliedmessage" class="">
                <a class="closemessage" ng-click="closeRepliedMessage()">x</a>

                <div class="mode_p">
                    <div class="mode_period_body">
                        <div class="mes_head">
                            Replied by<span class="mes_body rep_from" ng-bind="targetcomplaint.replyfrom + '.'">N/A</span>
                        </div>

                        <div class="row"><div class="column">&nbsp;</div></div>

                        <div class="mes_head reply_body">
                            <span class="mes_body" ng-bind="targetcomplaint.reply"></span>
                        </div>

                        <div class="row"><div class="column">&nbsp;</div></div>

                        <button class="ui fluid large teal submit button log_in_btn" id="login_button" ng-click="closeRepliedMessage()" ng-disabled="loginclicked">Close</button>         
                    </div>
                </div>
            </div>

            <div id="viewrepliedmessage" class="">
                <a class="closeviewrepliedmessage" ng-click="closeViewRepliedMessage()">x</a>

                <div class="mode_p">
                    <div class="mode_period_body">
                        <div class="row"><div class="column">&nbsp;</div></div>

                        <div class="mes_head">
                            Sender: <span class="mes_body" ng-bind="targetcomplaint.email"></span>
                        </div>

                        <div class="row"><div class="column">&nbsp;</div></div>

                        <div class="mes_head">
                            Subject: <span class="mes_body" ng-bind="targetcomplaint.subject"></span>
                        </div>
                        <div class="row"><div class="column">&nbsp;</div></div>

                        <div class="mes_head">
                            Date: <span class="mes_body" ng-bind="targetcomplaint.createdon.split('T')[0]"></span>
                        </div>
                        <div class="row"><div class="column">&nbsp;</div></div>

                        <div  class="mes_head" style="height: 120px;">
                            Message: <span class="mes_body" ng-bind="targetcomplaint.complaint"></span>
                        </div>
  
                        <div class="row"><div class="column">&nbsp;</div></div>

                        <button class="ui fluid large teal submit button log_in_btn" id="login_button" ng-click="viewReply(targetcomplaint._id)" ng-disabled="loginclicked">View Reply</button>         
                    </div>
                </div>
            </div>

            <div id="changefareform" class="">
                <a class="closechangefareform" ng-click="closeChangeFareForm()">x</a>

                <div class="mode_p">
                    <header class="formheader fareheader">
                        <h4>Change fare</h4>
                    </header>
                    <div class="mode_period_body">
                        <div class="row"><div class="column">&nbsp;</div></div>

                        <div class="range">
                            <div class="ui form">
                                <div class="two fields">
                                    <div class="field sel_field">
                                        <label></label>
                                        <select class="ui search dropdown" id="c_dep" name="c_dep" ng-model="c_dep">
                                            <option disabled value="" selected>Route From</option>
                                            <option value="AJAH - AJH">AJAH - AJH</option>
                                            <option value="ANTHONY - ANY">ANTHONY - ANY</option>
                                            <option value="APAPA - APA">APAPA - APA</option>
                                            <option value="EPE - EPE">EPE - EPE</option>
                                            <option value="FESTAC - FTC">FESTAC - FTC</option>
                                            <option value="IKEJA - KJA">IKEJA - KJA</option>
                                            <option value="IKORODU - KRD">IKORODU - KRD</option>
                                            <option value="IKOYI - KYI">IKOYI - KYI</option>
                                            <option value="ISOLO - ISL">ISOLO - ISL</option>
                                            <option value="IYANA-IPAJA - IPJ">IYANA-IPAJA - IPJ</option>
                                            <option value="LEKKI - LKK">LEKKI - LKK</option>
                                            <option value="MAGODO - MGD">MAGODO - MGD</option>
                                            <option value="MARYLAND - MYD">MARYLAND - MYD</option>
                                            <option value="OGBA - GBA">OGBA - GBA</option>
                                            <option value="OMOLE - MLE">OMOLE - MLE</option>
                                            <option value="SURULERE - SRL">SURULERE - SRL</option>
                                            <option value="VICTORIA-ISLAND - VI">VICTORIA-ISLAND - VI</option>
                                            <option value="YABA - YBA">YABA - YBA</option>
                                        </select>
                                    </div>

                                    <div class="field sel_field">
                                        <label></label>
                                        <select class="ui search dropdown" id="c_dest" name="c_dest" ng-model="c_dest">
                                            <option disabled value="" selected>Route To</option>
                                            <option value="AJAH - AJH">AJAH - AJH</option>
                                            <option value="ANTHONY - ANY">ANTHONY - ANY</option>
                                            <option value="APAPA - APA">APAPA - APA</option>
                                            <option value="EPE - EPE">EPE - EPE</option>
                                            <option value="FESTAC - FTC">FESTAC - FTC</option>
                                            <option value="IKEJA - KJA">IKEJA - KJA</option>
                                            <option value="IKORODU - KRD">IKORODU - KRD</option>
                                            <option value="IKOYI - KYI">IKOYI - KYI</option>
                                            <option value="ISOLO - ISL">ISOLO - ISL</option>
                                            <option value="IYANA-IPAJA - IPJ">IYANA-IPAJA - IPJ</option>
                                            <option value="LEKKI - LKK">LEKKI - LKK</option>
                                            <option value="MAGODO - MGD">MAGODO - MGD</option>
                                            <option value="MARYLAND - MYD">MARYLAND - MYD</option>
                                            <option value="OGBA - GBA">OGBA - GBA</option>
                                            <option value="OMOLE - MLE">OMOLE - MLE</option>
                                            <option value="SURULERE - SRL">SURULERE - SRL</option>
                                            <option value="VICTORIA-ISLAND - VI">VICTORIA-ISLAND - VI</option>
                                            <option value="YABA - YBA">YABA - YBA</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="range">
                            <div class="ui form">

                                <div class="two fields">

                                    <div class="field sel_field">
                                        <div class="input-group">
                                            <input type="number" ng-model="c_fareoneway" id="c_fareoneway" name="c_fareoneway" placeholder="Fare (One Way)" style="padding-left: 15px !important;">
                                        </div>
                                    </div>

                                    <div class="field sel_field">
                                        <div class="input-group">
                                            <input type="number" ng-model="c_farereturn" id="c_farereturn" name="c_farereturn" placeholder="Fare (Return)" style="padding-left: 15px !important;">
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="row"><div class="column">&nbsp;</div></div>

                        <button class="ui fluid large teal submit button log_in_btn" id="login_button" ng-click="changeFare()" ng-disabled="loginclicked">Submit</button>         
                    </div>
                </div>
            </div>

            <div id="addrouteform" class="">
                <a class="closeaddrouteform" ng-click="closeAddRouteForm()">x</a>

                <div class="mode_p">
                    <header class="formheader routeheader">
                        <h4>Add new route</h4>
                    </header>
                    <div class="mode_period_body">
                        <div class="row"><div class="column">&nbsp;</div></div>

                        <div class="range">
                            <div class="ui form">
                                <div class="two fields">
                                    <div class="field sel_field">
                                        <div class="input-group">
                                            <input type="text" ng-model="dep" id="dep" name="dep" placeholder="Home Location" style="padding-left: 15px !important;">
                                        </div>
                                    </div>

                                    <div class="field sel_field">
                                        <div class="input-group">
                                            
                                            <input type="text" ng-model="dest" id="dest" name="dest" placeholder="Work Location" style="padding-left: 15px !important;">
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="range">
                            <div class="ui form">
                                <div class="two fields">
                                    <div class="field sel_field">
                                        <div class="input-group">
                                            
                                            <input ng-model="morningpickup" id="morningpickup" type="text" class="timepicker" placeholder="Morning pick up time" style="padding-left: 15px !important;">
                                                
                                        </div>
                                    </div>

                                    <div class="field sel_field">
                                        <div class="input-group">
                                            
                                            <input ng-model="morningdrop" id="morningdrop" type="text" class="timepicker" placeholder="Morning drop time" style="padding-left: 15px !important;">
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="range">
                            <div class="ui form">
                                <div class="two fields">
                                    <div class="field sel_field">
                                        <div class="input-group">
                                            
                                            <input ng-model="eveningpickup" id="eveningpickup" type="text" class="timepicker" placeholder="Evening pick up time" style="padding-left: 15px !important;">
                                                
                                        </div>
                                    </div>

                                    <div class="field sel_field">
                                        <div class="input-group">
                                            
                                            <input ng-model="eveningdrop" id="eveningdrop" type="text" class="timepicker" placeholder="Evening drop time" style="padding-left: 15px !important;">
                                                
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="range">
                            <div class="ui form">
                                <div class="two fields">
                                    <div class="field sel_field">
                                        <div class="input-group">
                                            <input type="text" ng-model="morningpickuppoint" id="morningpickuppoint" name="morningpickuppoint" placeholder="Morning pick up point" style="padding-left: 15px !important;">
                                        </div>
                                    </div>

                                    <div class="field sel_field">
                                        <div class="input-group">
                                            
                                            <input type="text" ng-model="morningdroppoint" id="morningdroppoint" name="morningdroppoint" placeholder="Morning drop point" style="padding-left: 15px !important;">
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="range">
                            <div class="ui form">
                                <div class="two fields">
                                    <div class="field sel_field">
                                        <div class="input-group">
                                            <input type="text" ng-model="eveningpickuppoint" id="eveningpickuppoint" name="eveningpickuppoint" placeholder="Evening pick up point" style="padding-left: 15px !important;">
                                        </div>
                                    </div>

                                    <div class="field sel_field">
                                        <div class="input-group">
                                            
                                            <input type="text" ng-model="eveningdroppoint" id="eveningdroppoint" name="eveningdroppoint" placeholder="Evening drop point" style="padding-left: 15px !important;">
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="range">
                            <div class="ui form">
                                <div class="two fields">
                                    <div class="field sel_field">
                                        <div class="input-group">
                                            <input type="number" ng-model="fareoneway" id="fareoneway" name="fareoneway" placeholder="Fare (One Way)" style="padding-left: 15px !important;">
                                        </div>
                                    </div>

                                    <div class="field sel_field">
                                        <div class="input-group">
                                            
                                            <input type="number" ng-model="farereturn" id="farereturn" name="farereturn" placeholder="Fare (Return)" style="padding-left: 15px !important;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row"><div class="column">&nbsp;</div></div>

                        <button class="ui fluid large teal submit button log_in_btn" id="login_button" ng-click="addRoute()" ng-disabled="loginclicked">Submit</button>         
                    </div>
                </div>
            </div>

            <div id="adduserform" class="">
                <a class="closeadduserform" ng-click="closeAddUserForm()">x</a>

                <div class="mode_p">
                    <div class="mode_period_body">
                        <div class="row"><div class="column">&nbsp;</div></div>

                        <div style="text-align: center;">
                            <input type="text" ng-model="newadminemail" id="newadminemail" name="newadminemail" placeholder="Email address of new user..." style="padding-left: 15px !important;">
                        </div>
                        <div class="row"><div class="column">&nbsp;</div></div>

                        <div style="text-align: center;">
                            <input type="text" ng-model="newadminname" id="newadminname" name="newadminname" placeholder="Name of new user..." style="padding-left: 15px !important;" maxlength="8">
                        </div>
                        <div class="row"><div class="column">&nbsp;</div></div>

                        <button class="ui fluid large teal submit button log_in_btn" id="login_button" ng-click="addUser()" ng-disabled="loginclicked">Submit</button>         
                    </div>
                </div>
            </div>

            <div id="enablecardform" class="">
                <a class="closeadduserform" ng-click="closeEnableCardForm()">x</a>

                <div class="mode_p">
                    <header>
                        <h3>Enter card number to enable it...</h3>
                    </header>
                    <div class="mode_period_body">
                        <div class="row"><div class="column">&nbsp;</div></div>

                        <div style="text-align: center;">
                            <input type="text" ng-model="e_cardnumber" id="e_cardnumber" name="e_cardnumber" placeholder="Card number..." style="padding-left: 15px !important;">
                        </div>
                        <div class="row"><div class="column">&nbsp;</div></div>

                        <button class="ui fluid large teal submit button log_in_btn" id="login_button" ng-click="enableCard()" ng-disabled="loginclicked">Submit</button>         
                    </div>
                </div>
            </div>

            <div id="disablecardform" class="">
                <a class="closeadduserform" ng-click="closeDisableCardForm()">x</a>

                <div class="mode_p">
                    <header>
                        <h3>Enter card number you want to disable...</h3>
                    </header>
                    <div class="mode_period_body">
                        <div class="row"><div class="column">&nbsp;</div></div>

                        <div style="text-align: center;">
                            <input type="text" ng-model="d_cardnumber" id="d_cardnumber" name="d_cardnumber" placeholder="Card number..." style="padding-left: 15px !important;">
                        </div>
                        <div class="row"><div class="column">&nbsp;</div></div>

                        <button class="ui fluid large teal submit button log_in_btn" id="login_button" ng-click="disableCard()" ng-disabled="loginclicked">Submit</button>         
                    </div>
                </div>
            </div>

            <!-- <div id="transferroleform" class="">
                <a class="closetransferroleform" ng-click="closeTransferRoleForm()">x</a>

                <div class="mode_p">
                    <div class="mode_period_body">
                        <div class="row"><div class="column">&nbsp;</div></div>

                        <div style="text-align: center;">
                            <input type="text" ng-model="newadminemail" id="newadminemail" name="newadminemail" placeholder="Email address of new user..." style="padding-left: 15px !important;">
                        </div>
                        <div class="row"><div class="column">&nbsp;</div></div>

                        <div style="text-align: center;">
                            <input type="text" ng-model="newadminname" id="newadminname" name="newadminname" placeholder="Name of new user..." style="padding-left: 15px !important;" maxlength="8">
                        </div>
                        <div class="row"><div class="column">&nbsp;</div></div>

                        <button class="ui fluid large teal submit button log_in_btn" id="login_button" ng-click="addUser()" ng-disabled="loginclicked">Submit</button>         
                    </div>
                </div>
            </div> -->
        </div>
    </ui-view>

    <div class="somebar_other">
        <div class="bottombar_other">
            <div class="bar">
                <div class="copyright link_other">Copyright, <span class="buzzmi">2018  Corporate Transit</span></div>
                <div class="privacy link_other">Terms And Conditions</div>
                <div class="privacy link_other">Privacy Policy</div>
                <div class="privacy link_other">Faqs</div>
                <div class="contact link_other" ng-click="showContactUs()">Contact Us</div>

                <div class="facebook link_other"><i class="inverted facebook f icon"></i>Facebook</div>
                <div class="twitter link_other"><i class="inverted twitter icon"></i>Twitter</div>
                <div class="instagram link_other"><i class="inverted instagram icon"></i>Instagram</div>
            </div>
        </div>
    </div>
</div>